.user-professional-details-edit-component {
  .edit-user-heading {
    color: #275778;
    font-size: 20px;
    font-weight: 700;
    //text-transform: uppercase;
    margin-bottom: 24px;
  }
  .horizontal-divider{
    border-bottom: 2px solid #CECECE;
    margin-top: 2px;
    margin-bottom: 12px;
  }

  .form-label {
    color: #212B36;
    margin-bottom: 12px !important;
    font-size: 14px !important;
  }

  .t-form-actions {
    margin-top: 30px !important;

    .submit-cta {
      margin-left: 16px;
    }
  }
}