.user-professional-details-edit-component{
  .edit-user-heading{
    color: #00534F;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  .t-form-actions{
    margin-top: 60px !important;
    margin-bottom: 24px !important;
    .submit-cta{
      margin-left: 16px;
    }
  }
}