.medical-intervention-exercise-log-view-screen {
.medical-intervention-exercise-log-view-table-container{
  .t-table-wrapper {
    .t-table {
      min-height: max-content !important;
    }
  }
}
  .no-appointment-text-wrapper {
    .card-component {
      .card-body {
        padding-bottom: 24px !important;
      }
    }
  }
  .medical-intervention-exercise-log-attachments-view-wrapper {
    display: flex;
    margin-bottom: 10px;

    .medical-intervention-exercise-log-attachments-view {
      background: #F0F5F4;
      border-radius: 4px;
      padding: 10px;
      margin: 10px 0px;
      display: flex;
      align-items: center;
      width: fit-content;
      max-width: 100%;
      cursor: pointer;

      .attachment-chip-view {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
.last-updated-status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
  padding-bottom: 10px;

  .last-updated-status-text {
    font-size: 14px;
  }

  .last-updated-status-bold {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.client-name-button-wrapper {
  display: flex;
  justify-content: space-between;

  .client-name-wrapper {
    font-size: 1.4286rem;
    font-weight: 700;

    .client-name {
      padding-right: 10px;
    }
  }
}
