.rom-config-table-container {
  position: relative;

  .rom-config-table-context {
    position: absolute;
    right: 18px;
    top: 18px;
    z-index: 1;
  }

  .ant-table-cell {
    &:not(&.t-cell-movement) {
      text-align: center !important;
    }

  }
}
