.client-basic-details-component {
  .contact-info-wrapper {
    .phone-email-heading{
      font-weight: 700;
      margin-bottom: 16px;
    }
    .form-control-label-component {
      font-size: 1.1429rem;
    }
  }
  .primary-emergency-contact,.secondary-emergency-contact{
    font-size: 1.1429rem;
  }
  .alternate-heading-horizontal-line{
    border-bottom: 2px solid #CECECE;
  }

  .secondary-horizontal-line{
    //border-bottom: 4px solid #CECECE;
    margin-top: 0px;
  }
}