.client-basic-details-component {
  .work-information-wrapper{
    box-shadow: 0px 4px 8px 0px #D1D1D1 !important;
    padding-bottom: 5px;
  }
  .contact-info-wrapper {
    .phone-email-heading{
      font-weight: 700;
      margin-bottom: 16px;
    }
    .form-control-label-component {
      font-size: 1.1429rem;
    }
  }
    .phone-email-heading{
      font-weight: 700;
      margin-bottom: 16px;

  }
  .alternate-heading-horizontal-line{
    border-bottom: 2px solid #CECECE;
  }

  .secondary-horizontal-line{
    border-bottom: 2px solid #CECECE;
    margin-top: 0px;
  }
  .billing-address-list{
    border: 1px solid #CECECE;
    padding: 12px ;
    margin-left: 10px;
    margin-right: 8px;
    margin-bottom: 16px;
  }
}
