.client-activity-log-component {
  .module-field-name {
    font-weight: 500;
  }

  .t-cell-staff {
    text-align: center !important;
  }

  .t-table-wrapper {
    .t-table {
      &:not(&.auto-height) {
        min-height: 500px;
      }
    }
  }
}