.client-activity-log-component {
  .card-component{
    padding-bottom: 28px;
  }
  .module-field-name {
    font-weight: 500;
  }
  .activity-log-search{
    margin-left: -10px;
  }

  .t-cell-staff {
    text-align: center !important;
  }
  .t-table-wrapper .t-table .table-no-data-wrapper {
    min-height: 420px !important;
  }
}