@import "src/assets/styles/common";

.success-popup-component {
  background: linear-gradient(1.09deg, #DAFDFF -54.51%, #FFFFFF 158.79%);
  border-radius: 10px;
  width: 502px;
  height: 389px;
  text-align: center;
  overflow: hidden;

  &:before {
    position: absolute;
    background: url("./../../../assets/images/success-bgr.png");
    content: " ";
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.1;
  }

  .success-popup-image {
    margin: 10px 0 20px;
    padding-top: 40px;
    display: flex;
    justify-content: center;

    .lottie-file-wrapper {
      width: 75px;
      height: 75px;
    }
  }

  .success-popup-meta {
    text-align: center;
    color: #07213C;
    padding-top: 10px;

    .success-popup-title {
      font-weight: $font-weight-medium;
      font-size: 2rem;
      line-height: 40px;
    }

    .success-popup-sub-title {
      font-size: $font-weight-normal;
      font-size: 14px;
      color: #83909D;
      margin: 10px 10px 30px 10px;
    }

    .success-popup-description {
      font-size: 14px;
      margin: 10px 10px 10px 100px;
      display: flex;
      justify-content: center;
    }

    .success-popup-continue-and-cancel-cta {
      margin: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 80px;
    }

    .success-popup-cta {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      padding-bottom: 50px;
    }
  }

}
