@import "src/assets/styles/common";

.add-concussion-file-component {
  .back-cross-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .back-btn {
      display: flex;
      align-items: center;
      cursor: pointer;

      .back-text {
        color: #1D1C1D;
        font-size: 18px;
        font-weight: 500;
        margin-top: -6px;
      }
    }

    .drawer-close {
      cursor: pointer;
      position: relative;
      top: 2px;
      background: #F4F4F8;
      padding: 16px;
      border-radius: 50%;
      height: 46px;
      width: 46px;
      @include display-center();
    }
  }

  .cross-btn {
    display: flex;
    align-items: center;
    justify-content: end;

    .drawer-close {
      cursor: pointer;
      position: relative;
      top: 2px;
      background: #F4F4F8;
      padding: 16px;
      border-radius: 50%;
      height: 46px;
      width: 46px;
      @include display-center();
    }

  }

  .t-form {
    .t-form-controls {
      height: calc(100vh - 120px) !important;

      .upload-document-heading {
        margin-bottom: 12px;
        color: #212B36;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .t-form-actions {
      margin-bottom: 0 !important;
    }

    //.t-form-actions {
    //  margin: 30px 0 0;
    //}
  }

  .concussion-file-type-list {
    display: flex;
    flex-direction: column;

    .concussion-file-type-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #275778;
      border-radius: 8px;
      margin-bottom: 24px;
      padding: 16px 24px;

      .concussion-file-title {
        color: #275778;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }


}
