.add-concussion-file-component {
  .t-form {
    .t-form-controls {
      height: calc(100vh - 260px);
    }

    .t-form-actions {
      margin: 30px 0 0px;
    }
  }
  .concussion-file-type-list {
    display: flex;
    flex-direction: column;

    .concussion-file-type-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ABB6BE;
      border-radius: 5px;
      margin-bottom: 14px;
      padding: 18px 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }


}
