.medical-intervention-exercise-log-screen {
  .client-card-wrapper {
    .card-component {
      &.primary {
        margin-bottom: 24px !important;
      }
    }
  }

  .special-test-table-container {
    .card-table-button-wrapper {
      .exercise-record-name {
        width: 80%;
      }

      .card-component {
        .card-body {
          padding: 0px !important;

          .t-table-wrapper {
            .t-table {
              min-height: max-content !important;
              border: none !important;
            }
          }
        }
      }
    }
  }

  .exercise-log-attachment-list-component {
    .chip {
      .MuiChip-label {
        color: #212B36;
      }
      .MuiChip-deleteIcon {
        color: #00534F;
      }
    }

    .chip-wrapper {
      margin-bottom: 20px;
      margin-right: 12px;

      .chip-items {
        padding: 20px 12px;
        margin-bottom: 20px;
      }
    }

  }

  .input-component {
    margin-bottom: 0 !important;
  }

  .page-header-component {
    .page-header-title {
      font-size: 18px;
      text-transform: capitalize;

    }
  }

  .t-tr:has(.Mui-error) {
    .t-td {
      height: 65px !important;
      align-items: start;
    }

    .t-cell-exercise {
      align-items: center !important;
    }

    .MuiFormHelperText-root.Mui-error {
      display: block !important;
    }
  }

  .t-cell {
    text-align: center !important;

    .input-component {
      input {
        text-align: center !important;
      }
    }

    &:not(&.t-cell-name) {
      .input-component {
        width: 100px !important;
      }
    }
  }

  .t-cell-name {
    text-align: left !important;

    .input-component {
      input {
        text-align: left !important;
      }
    }
  }

  .client-name-button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .client-name-wrapper {
      font-size: 1.4286rem;
      font-weight: 700;

      .client-name {
        padding-right: 10px;
      }
    }
  }

  .last-updated-status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    padding-bottom: 10px;

    .last-updated-status-text {
      font-size: 14px;
    }

    .last-updated-status-bold {
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  .provider-name {
    width: 550px;
    margin-bottom: 24px;
  }
}
