.medical-intervention-exercise-log-screen {
  .input-component {
    margin-bottom: 0 !important;
  }

  .t-cell {
    text-align: center !important;

    .input-component {
      input {
        text-align: center !important;
      }
    }

    &:not(&.t-cell-name) {
      .input-component {
        width: 100px !important;
      }
    }
  }
  .client-name-button-wrapper {
    display: flex;
    justify-content: space-between;

    .client-name-wrapper {
      font-size: 1.4286rem;
      font-weight: 700;

      .client-name {
        padding-right: 10px;
      }
    }
  }
  .last-updated-status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    padding-bottom: 10px;

    .last-updated-status-text {
      font-size: 14px;
    }

    .last-updated-status-bold {
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
    }
    }
  .provider-name{
    width: 550px;
    margin-bottom: 24px;
  }
}
