.reset-password-screen {
  .t-form-controls {
    //height: 328px !important;
    height: 360px !important;
  }

  .password-validator-container {
    border-radius: 10px;
    background: #F7F9F9;
    padding: 15px 10px;
  }
}