@import "src/assets/styles/common";

.transfer-soap-note-component {

  .back-cross-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .drawer-close {
      cursor: pointer;
      position: relative;
      top: 2px;
      background: #F4F4F8;
      padding: 16px;
      border-radius: 50%;
      height: 46px;
      width: 46px;
      @include display-center();
    }
  }

  .cross-btn {
    display: flex;
    align-items: center;
    justify-content: end;

    .drawer-close {
      cursor: pointer;
      position: relative;
      top: 2px;
      background: #F4F4F8;
      padding: 16px;
      border-radius: 50%;
      height: 46px;
      width: 46px;
      @include display-center();
    }

  }

  .client-list-header {
    font-size: 1.1429rem;
    font-weight: 700;
    color: #212B36;
    margin-bottom: 16px;
  }

  .list-content-wrapper {
    .client-list-name-wrapper {
      border: 1px solid #F3F3F3;
      padding: 14px;
    }
  }
  .client-list-header {
    font-size: 1.1429rem;
    font-weight: 700;
    color: #212B36;
    margin-bottom: 16px;
  }
  .client-search-table-wrapper {

    .t-table-wrapper {
      height: calc(100vh - 320px);
    }

    .transfer-soap-heading {
      margin-top: 12px;
    }
  }

  .card-content-wrapper {
    display: flex;
    align-items: center;

    .client-image-wrapper {
      .avatar-component {
        background: #FEF0BF;
        font-size: 18px;
        color: #212B36;
      }
    }

    .client-name {
      margin-left: 20px;
      font-weight: $font-weight-bold;
      font-size: 16px;
    }
  }

  .card-table-button-wrapper {
    .card-table {
      .t-cell-date {
        padding-right: 30px !important;
      }

      .t-table-wrapper {
        height: calc(100vh - 330px);
      }
    }

    .card-component {
      margin-bottom: 0px;
    }

    .card-table-header {
      display: flex;
      justify-content: space-between;
    }


    .card-case-heading {
      font-size: 1.1429rem;
      font-weight: 700;
    }

    .client-list-record-wrapper {
      border: 1px solid #F3F3F3;
      border-top: none;
      padding: 14px;

      .medical-record-details {
        margin-right: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }

    .transfer-button {
      margin-top: 40px;
    }
  }

  height: calc(100vh - 200px);
}
