.appointment-settings-remainder-component {
  .card-component {
    margin-bottom: 0 !important;
  }

  .appointment-reminder {
    padding-bottom: 24px;

    .question-title {
      color: #1D1C1D !important;
      font-weight: 700;
    }

    .question-description {
      color: #7F7F7F !important;
      font-weight: 400;
    }

    .reschedule-wrapper {
      .question-title {
        color: #1D1C1D !important;
        font-weight: 700;
      }

      .question-description {
        color: #7F7F7F !important;
        font-weight: 400;
      }
    }

    .horizontal-line-wrapper {
      height: 2px !important;
      background: #E2E2E2 !important;
    }

    .message-heading {
      font-weight: 500;
      font-size: 16px;
      color: #212B36;
      margin-right: 8px;
      margin-bottom: 8px !important;
    }

    .message-description {
      margin-top: 5px;
      font-size: 14px;
      color: #6D6D6D;
      padding-bottom: 10px;
    }
  }
}