.client-document-list-screen{
  .client-documents-header-wrapper{
    display: flex;
    justify-content: space-between;
  }
  .date-range-wrapper{
    margin-bottom: 17px;
  }
  .t-table{
    margin-bottom: 0px;

  }
}
