.MuiButton-root {
  text-transform: inherit !important;
  border-radius: 8px !important;

  &.MuiButton-sizeSmall {
    height: 30.75px;
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.MuiButton-sizeMedium {
    height: 36.5px;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.MuiButton-sizeLarge {
    height: 42.25px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

button {
  white-space: nowrap !important;
}

//.t-table-wrapper {
//  .t-table-column-filter-wrapper {
//    .t-table-column-filter-header {
//      .MuiButton-outlined{
//        background: #FFFFFF !important;
//      }
//    }
//  }
//}
