.card-component {
  background: #ffffff;
  border: 1px solid #F3F3F3;
  border-radius: 4px;

  .card-header {
    padding: 8px 35px;
    background: #EAF3F2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card-title-description-wrapper {
      .card-title {
        font-size: 16px;
        font-weight: 700;
      }

      .card-description {
        margin-top: 8px;
      }
    }

    .card-actions {
      white-space: nowrap;
    }
  }

  .card-body {
    padding: 24px 35px;
  }

  &.sm {
    .card-header {
      padding: 10px 20px;

      .card-title {
        font-size: 14px;
        font-weight: 700;
      }
    }

    .card-body {
      padding: 10px 20px;
    }
  }

  &.md {
    .card-header {
      padding: 15px 25px;

      .card-title {
        font-size: 16px;
      }
    }

    .card-body {
      padding: 15px 25px;
    }
  }

  &.xl {
    .card-header {
      padding: 25px 35px;

      .card-title {
        font-size: 20px;
      }
    }

    .card-body {
      padding: 25px 35px;
    }
  }
}