.card-component {

  .card-header {
    padding: 20px 35px;
    background: #EAF3F2;

    .card-title {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .card-body {
    padding: 25px;
  }

  &.sm {
    .card-header {
      padding: 10px 20px;

      .card-title {
        font-size: 14px;
        font-weight: 700;
      }
    }

    .card-body {
      padding: 15px;
    }
  }

  &.md {
    .card-header {
      padding: 15px 25px;

      .card-title {
        font-size: 16px;
      }
    }

    .card-body {
      padding: 20px;
    }
  }

  &.xl {
    .card-header {
      padding: 25px 35px;

      .card-title {
        font-size: 20px;
      }
    }

    .card-body {
      padding: 30px;
    }
  }
}