.drawer-container {
  padding: 25px !important;
  max-width: 600px;
  min-width: 546px;

  .drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .drawer-title {
      font-size: 1.1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .drawer-close {
      cursor: pointer;
      position: relative;
      top: 2px;
      background: #F4F4F8;
      padding: 16px;
      border-radius: 50%;
      height: 46px;
      width: 46px;
      @include display-center();

      svg {
        height: 14px;
        width: 14px;
      }
    }
  }

  .drawer-body {

  }
}
