.menu-dropdown-component-menu {
  .menu-item {
    display: flex !important;
    padding: 0 10px;
  }

  .menu-dropdown-option {
    padding: 0 !important;
    //cursor: default !important;
    //background-color: inherit !important;
  }
}
