.list-screen {

  .list-screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .list-search-filters {
      display: flex;
      flex: 1;

      .ts-row{
        flex: 1;
      }

      .input-component {
        margin-bottom: 0 !important;
      }
      .select-component {
        margin-bottom: 0 !important;
      }
    }

    .list-options {
      display: flex;
      margin-left: 20px;
    }
  }

  .list-content-wrapper {
    .t-table {
      min-height: 300px;
      height: calc(100vh - 220px);
    }
  }
}
