@import "src/assets/styles/variables";

.t-table-wrapper {
  .ant-table-container {
    //height: calc(100vh - 260px);
    min-height: 300px;
    position: relative;

    .ant-table-content {

      .ant-table-thead {

        .ant-table-cell {
          background: #EAF3F2;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #212B36;
        }
      }
    }
  }
}
