@import "../variables";

.t-tabs-wrapper {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;

  .t-tabs {
    //border-bottom: 1px solid #dfdfdf;

    .t-tab {
      //
      border: 1px solid #E7E7E7;
      //border-bottom: 2px solid #E7E7E7;
      background: #FFFFFF;
      text-transform: unset !important;
      font-weight: $font-weight-normal;
      text-decoration: underline;

      //&:first-child {
      //  border-left: 2px solid #E7E7E7;
      //}
      //
      //&:last-child {
      //  border-right: 2px solid #E7E7E7;
      //
      //}
    }

    .t-tab.Mui-selected {
      font-weight: $font-weight-bold;
    }

    &.primary {
      .t-tab.Mui-selected {
        background: $primary-color !important;
        color: $white;
        font-weight: 500;
      }
    }
  }
  .t-basic-tabs {
    //border-bottom: 1px solid #dfdfdf;

    .t-tab {
      text-transform: unset !important;
      font-weight: $font-weight-normal;

    }


    .t-tab.Mui-selected {
      font-weight: $font-weight-bolder;
    }

    &.primary {
      .t-tab.Mui-selected {
        color: $primary-color !important;
      }
    }
  }

  .t-tab-panel {
    padding: 24px 0 12px 0!important;
  }

  .MuiTabs-indicator {
    display: none !important;
  }
}