@import "../variables";

.t-tabs-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;

  .t-tabs {
    background-color: #FFFFFF;
    .MuiTabs-root{
      border-radius: 8px !important;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

    }
    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

    }
    .t-tab {
      background: #FFFFFF;
      text-transform: unset !important;
      font-size: 14px;
      font-weight: $font-weight-normal;

    }

    .t-tab.Mui-selected {
      font-weight: $font-weight-bold;
    }

    &.primary {
      .t-tab.Mui-selected {

        background: linear-gradient(to right, #285778, #47A3AA)!important;
        color: $white;
        font-weight: 500;
        margin: 8px;
        border-radius: 8px;
      }
    }
  }

  .t-basic-tabs {
    //border-bottom: 1px solid #dfdfdf;

    .t-tab {
      text-transform: unset !important;
      font-weight: $font-weight-normal;
      font-size: 14px !important;
      color:$primary-color;

    }


    .t-tab.Mui-selected {
      font-weight: $font-weight-bolder;
        color: $primary-color !important;
    }

    &.primary {
      .t-tab.Mui-selected {
        color: $primary-color !important;
      }
    }
  }

  .t-tab-panel {
    padding: 24px 0 12px 0 !important;
  }

  .MuiTabs-indicator {
    display: none !important;
  }
}