.user-education-details-edit-component {
  .horizontal-divider {
    border-bottom: 2px solid #CECECE;
    margin-top: 2px;
    margin-bottom: 12px;
  }

  .form-label {
    color: #212B36;
    margin-bottom: 12px !important;
    font-size: 14px !important;
  }

}