.pagination-component {
  background-color: white;
}

.MuiTablePagination-displayedRows,  .MuiTablePagination-selectLabel {

  //margin-top: 2px !important;
  font-size: 14px !important;
}
.MuiTablePagination-select{
  font-size: 14px !important;
  margin-top: 5px !important;
}