.pagination-component {
  background-color: white;
}

.MuiTablePagination-displayedRows, .MuiTablePagination-select, .MuiTablePagination-selectLabel {
  font-size: 14px !important;
  align-items: center !important;
}