@import "src/assets/styles/common";

.e-sign-approval-component {
  position: relative;

  .e-sign-image-action-wrapper {
    height: auto;
    width: 100%;
    border: 1px solid #1D1C1D;
    border-radius: 8px;
    position: relative;
    @include display-center();

    .e-sign-image-container {
      height: 100px;
      width: auto;
      opacity: 0.2;

      &.signed {
        opacity: 1;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    .e-sign-action-container {
      position: absolute;
    }
  }

  .e-sign-time-stamp {
    margin-top: 10px;
    font-size: 0.85714rem;
    letter-spacing: 0.5px;
    opacity: 0.5;
  }

  .e-sign-loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    @include display-center();
  }
}
