.user-about-edit-component{
  .language-select {
    .check-box-component {
      height: 54px;
      border: 1px solid #ABB6BE;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }
  }
}

