.table-v2-component {
  .ant-table {
    td {
    padding: 6px 16px !important;
    }
  }

  .ant-table-cell {
    border-bottom: none !important;
  }

  .table-no-data-wrapper {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
}