.table-v2-component {
  //height: 100vh;
  //width: 100%;
  //display: flex;
  //align-items: center;
  //justify-content: center;

  .table {
    width: 100%;
    height: 100%;
    position: relative;

    .table-data-not-found-card {
      min-height: 500px;
    }

    .data-loading-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      pointer-events: none;

      .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }
  }
}

