.inventory-product-view-details-component{
  .image-button-wrapper{
    display: flex;
    .button-wrapper{
      margin-top: 30px;
    }
    justify-content: space-between;
    .image-details-wrapper{
      display: flex;
      .image-wrapper{
        margin-top: 10px;
      }
      .product-details-wrapper{
        margin-left: 20px;
        .inventory-product-details{
          margin-left: 5px;
        }
        .description{
          color: #858F94;
          margin-left: 6px;
        }
      }
    }
  }
  .product-details-heading{
    margin-left: 14px;
  }
}