@import "src/assets/styles/common";

.client-medical-details-card-component {

  .card-component {
    width: 100%;

    &.primary {
      margin-bottom: 25px !important;
    }
  }
  .card-container{
    li{
      word-wrap: break-word;
    }
    .no-text{
      text-align: left!important;
      padding-left: 0px !important;
    }
  }


    .show-more-less {
      color: #83909D;
      cursor: pointer;
      font-weight: 600;
      font-size: 12px;
      float: right;
      padding-bottom: 24px;
      padding-right: 10px;

      .show-more-less-action {
        margin: 10px;
        cursor: pointer;

      }
    }

    .ts-row {
      .date-of-surgery {
        .data-value {
          //margin-left: 13px;
        }
      }
    }

    .client-name-button-wrapper {
      display: flex;
      justify-content: space-between;

      .client-name-wrapper {
        font-size: 1.4286rem;
        font-weight: 700;
        .MuiChip-root{
          width: 150px !important;
        }

        .client-name {
          padding-right: 10px;
        }
      }
    }

    .intervention-injury-details-wrapper {
      .data-value {
        display: flex;
      }
    }

    .client-intervention {
      font-size: 1rem;
      line-height: 16px;
      text-align: match-parent;
      font-weight: 400;
      margin-right: 10px;
      margin-left: 8px;
      max-width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .view-all-body-parts {
      font-size: 1rem;
      color: #275778;
      text-decoration: underline;
      cursor: pointer;
      font-weight: $font-weight-bolder;
    }

  }

  .view-all-body-parts-header {
    color: #275778;
  }

  .close-modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

