.progress-record-advanced-details-update-screen {
  .progress_stats_overview_checkbox_holder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .progress_stats_overview_checkbox_wrapper {
      flex: 1;
      justify-content: flex-start;
      align-items: flex-start;
      &:first-child {
        .check-box-component {
            padding-left: 10px;
          }
      }
      .check-box-component {
        //&:first-child {
        //  padding-left: 10px;
        //}
        display: flex;
        text-align: left;
      }
    }
  }

  .show-more-less {
    color: #83909D;
    cursor: pointer;
    float: right;
    padding-bottom: 20px;
    padding-right: 10px;

    .show-more-less-action {
      margin: 10px;
      cursor: pointer;

    }
  }

  .progress-report-form-wrapper {
    .card-component {
      padding-bottom: 4px;
    }
  }

  .t-cell-comments, .t-cell-results {
    text-align: center !important;
  }

  .progress-stats-table {
    .name {
      font-weight: 700;
      margin-left: 5px;
    }

    .card-component {
      padding-bottom: 24px;

      .card-body {
        padding: 0;

        .sign-note-wrapper {
          display: flex;
          flex-direction: row-reverse;
          color: #212B36;
          margin-top: 50px;
          margin-right: 25px;
          opacity: 0.5;
          margin-bottom: 16px;

          .sign-note {
            width: 350px;
          }
        }
      }
    }
    .esign-pad{
      min-width: 340px !important;
      margin-left: 5px;
    }

    .progress-stats-comment {
      display: flex;
      justify-content: center;

      .comment-edit-wrapper {
        display: flex;
        justify-content: space-between;
        flex: 1 1;
        align-items: center;

        .edit-icon {
          height: 34px;
          width: 34px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .add-comment-heading {
        color: #00534F;
        font-weight: 700;
        cursor: pointer;
      }
    }

  }

  .last-updated-status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    padding-bottom: 10px;

    .last-updated-status-text {
      font-size: 14px;
    }

    .last-updated-status-bold {
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  .client-name-button-wrapper {
    display: flex;
    justify-content: space-between;

    .client-name-wrapper {
      font-size: 1.4286rem;
      font-weight: 700;

      .client-name {
        padding-right: 10px;
      }
    }
  }

  .t-cell-results {
    .radio-component {
      width: 100px !important;
    }
  }
}
