.progress-record-advanced-details-update-screen {
  .t-cell-comments, .t-cell-results {
    text-align: center !important;
  }

  .progress-stats-table {
    .card-component {
      .card-body {
        padding: 0;
      }
    }
    .progress-stats-comment{
     display: flex;
      justify-content: center;
      .comment-edit-wrapper{
        display: flex;
        justify-content: space-between;
        flex: 1 1;
      }
      .add-comment-heading{
        color: #00534F;
        font-weight: 700;
        cursor: pointer;
      }
    }

  }

  .last-updated-status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    padding-bottom: 10px;

    .last-updated-status-text {
      font-size: 14px;
    }

    .last-updated-status-bold {
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  .client-name-button-wrapper {
    display: flex;
    justify-content: space-between;

    .client-name-wrapper {
      font-size: 1.4286rem;
      font-weight: 700;

      .client-name {
        padding-right: 10px;
      }
    }
  }

  .t-cell-results {
    .radio-component {
      width: 100px !important;
    }
  }
}
