.appointment-settings-layout-component {
  padding-top: 52px;

  .t-tabs-wrapper {
    height: auto !important;

    .t-tabs {
      margin-bottom: 20px !important;
    }

    .t-tab-panel {
      padding: 0 !important;
      margin-bottom: 20px !important;
    }

    .message-section {
      padding: 20px;
      border: 1px solid #E2E2E2;
      border-radius: 8px;
      margin-bottom: 20px;
      color: #1D1C1D;

      .message-screen__body__row {
        padding: 10px 0;
      }
    }

    .available-mentions-wrapper {
      padding: 16px;
      background: #DFF6F3;
      border-radius: 10px;
      margin: 20px 0;

      .available-mentions-title {
        font-weight: 700;
        padding-bottom: 10px;
      }

      .available-mentions-chips-wrapper {
        display: flex;
        row-gap: 20px;
        column-gap: 20px;
        flex-wrap: wrap;

        .inactive {
          text-transform: lowercase !important;
          background: #275778 !important;
          width: 150px !important;
        }
      }
    }


    .email-section {
      border: 1px solid #E2E2E2;
      border-radius: 8px;
      color: #6D6D6D;

      .email-header-section {
        //background: #ECF7FF;
        border-radius: 10px 10px 0 0;

        .divider {
          margin-top: 0 !important;
          margin-bottom: 8px !important;
          height: 2px !important;
        }

        .email-screen__header__row {
          color: #1D1C1D;;
          padding: 20px 20px;
        }
      }

      .email-screen-body {
        padding: 10px 20px 20px;

        .email-screen__body__row {
          padding: 10px 0;
        }
      }
    }

    .mention-field-titles {
      //padding-bottom: 5px;
      font-size: 14px;
      font-weight: 700;
      color: #1D1C1D;
    }

    .info-tool-tip-wrapper {
      //display: flex;
      //justify-content: end;
      //padding-top: 10px;
      color: #275778;
    }
  }

  .tooltip-text-row-wrapper {
    display: flex;
    padding: 10px 0 0 10px;
    justify-content: center;
    margin-top: 8px;

    .tooltip-text-pointer {
      //width: 5px;
      //height: 5px;
      //background-color: black;
      //border-radius: 50%;
    }

    .tooltip-text {
      padding-left: 10px;
    }
  }
}