.discount-list-component {
  &.list-screen {
    .list-screen-header {
      margin-bottom: 11px;
    }
  }
  .coupon-list{
    .table-component{
      .t-cell-title{
        padding-left: 30px !important;
      }
      .t-cell-action{
        padding-right: 30px !important;
      }
    }
  }
}