@import "src/assets/styles/common";

.transfer-medical-record-component {

  .t-cell-date {
    text-align: center !important;
  }

  .select-client-wrapper {
    .t-table-wrapper {
      height: calc(100vh - 290px);
    }
  }

  .select-interventions-wrapper {

    .select-intervention-choice-wrapper {
      display: flex;
      align-items: center;
      margin-bottom:24px;

      .select-intervention-choice-label {
        margin-bottom: 0 !important;
        margin-right: 20px;
      }
    }

    .t-table-wrapper {
      height: calc(100vh - 360px);
    }
  }

  .select-interventions-wrapper, .select-medical-record-wrapper {
    .client-mini-card {
      display: flex;
      align-items: center;

      .client-name {
        margin-left: 20px;
        font-weight: $font-weight-bold;
      }
    }
  }

  .select-medical-record-wrapper {
    .t-table-wrapper {
      height: calc(100vh - 320px);
    }
  }

  .t-form-actions {
    margin-top: 20px;
  }
}
