@import "src/assets/styles/common";

.transfer-medical-record-component {
  height: calc(100vh - 50px);

  .transfer-file-to-heading {
    margin-top: 12px;
  }

  .back-cross-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .back-btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      color: #1d1c1d;
      font-size: 18px;
      .back-text{
        margin-top: -6px;
      }
    }

    .drawer-close {
      cursor: pointer;
      position: relative;
      top: 2px;
      background: #F4F4F8;
      padding: 16px;
      border-radius: 50%;
      height: 46px;
      width: 46px;
      @include display-center();
    }
  }

  .cross-btn {
    display: flex;
    align-items: center;
    justify-content: end;

    .drawer-close {
      cursor: pointer;
      position: relative;
      top: 2px;
      background: #F4F4F8;
      padding: 16px;
      border-radius: 50%;
      height: 46px;
      width: 46px;
      @include display-center();
    }

  }

  .t-cell-date {
    text-align: center !important;
  }

  .select-client-wrapper {
    .client-list-table {
      color: #6D6D6D;
    }

    .client-list-heading {
      margin-bottom: 16px;
    }

    .t-table-wrapper {
      border-radius: 8px !important;
      height: calc(100vh - 270px);

      .t-table {
        height: calc(100vh - 270px);
        border-radius: 8px !important;

        .table-no-data-wrapper {
          min-height: 400px;
        }
      }
    }
  }

  .select-interventions-wrapper {
    .card-component {
      margin-bottom: 16px;
    }

    .medical-intervention-list-wrapper {
      .t-table-wrapper {
        border-radius: 8px;

        .t-table {
          height: calc(100vh - 400px);
          border-radius: 8px;

          .table-no-data-wrapper {
            min-height: 400px;
          }
        }
      }
    }

    .select-intervention-choice-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .select-intervention-choice-label {
        margin-bottom: 0 !important;
        margin-right: 20px;
        color: #1d1c1d;
        font-weight: 400 !important;
      }
    }

    //.t-table-wrapper {
    //  height: calc(100vh - 330px);
    //}
  }

  .select-interventions-wrapper, .select-medical-record-wrapper {
    .client-mini-card {
      display: flex;
      align-items: center;
      padding-top: 14px;
      padding-bottom: 14px;

      .avatar-component {
        background: #275778;
        font-size: 18px;
        color: #FFFFFF;
      }

      .client-name {
        margin-left: 20px;
        font-weight: $font-weight-bold;
        font-size: 16px;
      }
    }
  }

  .case-list-table {
    .t-table-wrapper {
      border-radius: 8px;

      .t-table {
        height: calc(100vh - 360px);
        border-radius: 8px;

        .table-no-data-wrapper {
          min-height: 400px;
        }
      }
    }
  }

  //.select-medical-record-wrapper {
  //  .t-table-wrapper {
  //    height: calc(100vh - 200px);
  //  }
  //}

  .t-form-actions {
    margin-top: 20px;
    //margin-bottom: 25px;

  }
}
