@import "src/assets/styles/common";

.transfer-medical-record-component {
  height: calc(100vh - 230px);

  .back-cross-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .drawer-close {
      cursor: pointer;
      position: relative;
      top: 2px;
      background: #F4F4F8;
      padding: 16px;
      border-radius: 50%;
      height: 46px;
      width: 46px;
      @include display-center();
    }
  }
    .cross-btn {
      display: flex;
        align-items: center;
        justify-content: end;

      .drawer-close {
        cursor: pointer;
        position: relative;
        top: 2px;
        background: #F4F4F8;
        padding: 16px;
        border-radius: 50%;
        height: 46px;
        width: 46px;
        @include display-center();
      }

  }

  .t-cell-date {
    text-align: center !important;
  }

  .select-client-wrapper {
    .client-list-table {
      color: #6D6D6D;
      border: 1px solid #F3F3F3;
    }

    .t-table-wrapper {
      height: calc(100vh - 300px);
    }
  }

  .select-interventions-wrapper {
    .card-component {
      margin-bottom: 10px;

    }

    .select-intervention-choice-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .select-intervention-choice-label {
        margin-bottom: 0 !important;
        margin-right: 20px;
      }
    }

    .t-table-wrapper {
      height: calc(100vh - 360px);
    }
  }

  .select-interventions-wrapper, .select-medical-record-wrapper {
    .client-mini-card {
      display: flex;
      align-items: center;

      .client-name {
        margin-left: 20px;
        font-weight: $font-weight-bold;
      }
    }
  }

  .select-medical-record-wrapper {
    .t-table-wrapper {
      height: calc(100vh - 230px);
    }
  }

  .t-form-actions {
    margin-top: 20px;

  }
}
