.service-category-details-screen {
  .view-service-heading {
    font-weight: 700;
    font-size: 1.2857rem;
    //text-transform: uppercase;
    color: #00534F;
    margin-bottom: 20px;
  }

  .card-component {
    &.sm {
      .card-header {
        .card-title {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 1.1429rem;
        }
      }
    }
  }
}
