.add-medical-record-screen {
.add-new-medical-record-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  .add-new-medical-record-title{
    font-weight: 700;
    font-size: 1.2857rem;
    color: #00534F;
  }
}
  .appointment-container{
    padding-bottom: 4px !important;
  }
  .surgery-record-documents {
    .data-value {
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;

      .file-preview-thumbnail-component {
        margin-right: 10px;
      }
    }
  }
.t-form-actions{
  margin-bottom: 0px !important;
}
}
//display-flex ts-justify-content-sm-between