.add-medical-record-screen {
  .add-new-medical-record-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .form-control-label-component {
      margin-bottom: 0 !important;
    }

  }

  .surgery-heading {
    color: #1D1C1D;
    font-size: 20px;
    font-weight: 700;
  }


  .appointment-container {
    padding-bottom: 4px !important;
  }

  .surgery-record-documents {
    .data-value {
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;

      .file-preview-thumbnail-component {
        margin-right: 10px;
      }
    }
  }

  .MuiSvgIcon-root {
    color: #275778 !important;
  }

  .t-form-actions {
    margin-bottom: 0px !important;
  }
}

//display-flex ts-justify-content-sm-between