.ectComponent {

}

.icd-coding-tool-component {
  .entitylist {
    ul {
      margin-left: 0 !important;
    }
  }

  .ectComponent {
    .wordlist {
      ul {
        margin-left: 0 !important;
      }
    }
  }

  .icd-coding-tool-title {
    width: 100%;
    background-color: #03038d;
    color: #eee;
    font-size: 24px !important;
    display: inline-block;
    font-weight: 600;
    padding: 15px 30px;
  }

  .icd-coding-tool-content-window {
    padding: 0 30px;

    .icd-coding-search-component {
      margin-bottom: 0;
      height: 110px;
      padding: 30px 15px;
      padding-top: 30px !important;
      background-color: #eee;
      border-radius: 6px;
      position: relative;
      width: 100%;
      float: left;
      min-height: 1px;

      .clear {
        padding: 0;
        position: absolute;
        color: #808080;
        margin-left: 574px;
        top: 38px;
        cursor: pointer;
      }
    }

    .ctw-input {
      display: block;
      height: 38px;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 4px;
      line-height: 1.42857143;
      color: #333;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      width: 600px;
      font-size: 1.2em;
    }
  }

}
