.user-password-change-edit-component {

  .password-wrapper {
    padding-bottom: 4px !important
  }

  .t-form {
    .password-validation-wrapper {
      border-radius: 8px;
      background: #DFF6F3;
      height: 198px;
      padding-left: 20px;

      .password-header {
        color: #1D1C1D;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.5px;
        margin-top: 20px;
        margin-bottom: 12px;
        text-decoration: underline;
      }

      .password-message-text {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }

    .t-form-actions {
      margin-top: 30px !important;
    }
  }
}