.user-password-change-edit-component {
  .edit-user-heading {
    color: #00534F;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .t-form {
    .password-validation-wrapper {
      border-radius: 10px;
      background: #F7F9F9;
      height: 200px;

      .password-header {
        color: #212B36;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.5px;
        margin-top: 15px;
        margin-bottom: 12px;
        text-decoration: underline;
      }

      .password-message-text {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }

    .t-form-actions {
      margin-top: 10px !important;
      margin-bottom: 24px !important;
    }
  }
}