.coupon-edit-screen {
  .edit-coupon-heading {
    color: #6D6D6D;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .card-component .card-header .card-title-description-wrapper .card-title {
      text-transform: capitalize;
  }

  .t-form {
    .edit-coupon-heading{
      color: #00534F;
    }
    .services-name{
      margin-left: 28px;
    }
    .status-heading{
      color: #ABB6BE;
    }

    .currency-field {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 78px;
      height: 56px;
      border: 1px solid #F3F3F3;
      border-radius: 4px;
    }

    .minimum-billing-amount-wrapper {
      width: 465px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .select-discount-heading {
      margin-bottom: 20px;
      margin-right: 10px;
      color: #07213C;
      font-weight: 500;
      font-size: 1.1429rem;
    }

    .coupon-valid-on-service-text {
      color: #6D6D6D;
      margin-bottom: 24px;
      font-size: 1.1429rem;
    }

    .discount-type-wrapper {
      display: flex;
      align-items: center;
      .discount-type-text{
        margin-bottom: 20px;
        font-weight: 700;
        text-transform: capitalize;
        color: #07213C;
        font-size:1.1429rem;
      }
    }
    .t-form-actions{
      margin-bottom: 0px;
      .submit-cta{
        margin-left: 16px;
      }
    }
    .coupon-valid-on-card{
      padding-bottom: 16px;
    }
  }
}