.coupon-edit-screen {
  .card-component {
    padding-bottom: 4px !important;
  }

  .edit-coupon-heading {
    color: #275778;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .t-form {
    .edit-coupon-heading {
      color: #275778;
    }

    .services-name {
      margin-left: 28px;
    }

    .status-heading {
      color: #7F7F7F;
    }

    .currency-field {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 78px;
      height: 56px;
      border: 1px solid #F3F3F3;
      border-radius: 4px;
    }

    .minimum-billing-amount-wrapper {
      width: 465px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .select-discount-heading {
      margin-bottom: 20px;
      margin-right: 10px;
      color: #212B36;
      font-weight: 700;
    }

    .coupon-valid-on-service-text {
      color: #212B36;
      margin-bottom: 12px;
      font-weight: 700;
    }

    .discount-type-wrapper {
      display: flex;
      align-items: center;

      .discount-type-text {
        margin-bottom: 20px;
        text-transform: capitalize;
        color: #1D1C1D;
      }
    }

    .t-form-actions {
      margin-bottom: 0;
      margin-top: 30px;

      .submit-cta {
        margin-left: 16px;
      }
    }

    .coupon-valid-on-card {
      padding-bottom: 24px !important;

      .service-category-name {
        .check-box-component {
          .MuiTypography-root {
            font-weight: 700 !important;
            color: #1D1C1D !important;
          }
        }
      }
    }
  }
}