@import "src/assets/styles/common";

.facility-list-screen {

  .facility-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .facility-list-filters {
      flex: 1;

      .input-component {
        margin-bottom: 0 !important;
      }
    }

    .facility-list-options {
      flex: 0;
    }
  }

  .facility-list-wrapper {

    //border: 1px solid #E7E7E7;
    margin-top: 15px !important;

    .facility-list {
      display: flex;
      flex-wrap: wrap;
    }

    .t-table {
      margin-bottom: 0px;
      height: calc(100vh - 220px);

      .t-cell-name {
        padding-left: 20px !important;
      }

      .t-cell-actions {
        padding-right: 20px !important;
      }
    }

    .no-features-text-wrapper {
      .no-features-description {
        font-size: 24px;
        color: #7F7F7F;
      }

      .no-feature-heading {
        margin-bottom: 5px;
      }
    }
  }

  .t-table-component {
    .t-table-wrapper {
      .t-table {
        min-height: 500px;
      }
    }
  }
}
