@import "src/assets/styles/common";

.facility-list-screen {

  .facility-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .facility-list-filters {
      flex: 1;

      .input-component {
        margin-bottom: 0 !important;
      }
    }

    .facility-list-options {
      flex: 0;
    }
  }

  .facility-list-wrapper {

    .facility-list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}