@import "src/assets/styles/common";

.facility-list-screen {

  .facility-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .facility-list-title {
      font-weight: $font-weight-bolder;
      letter-spacing: 0.5px;
      color: #6D6D6D;
      font-size: 1.4286rem;
    }

    .facility-list-options {


    }
  }

  .facility-list-wrapper {

    .facility-list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}