.edit-message-component {
  .t-form {
    .message-container{
      min-height: calc(100vh - 220px) !important;
    }
    .t-form-actions{
      margin-bottom: 0px !important;
      .submit-cta {
        margin-left: 16px;
      }
    }
  }
}