.form-control-label-component {
  display: flex;
  font-weight: 700;
  line-height: 19px;
  color: #212B36;
  font-size: 14px;
  margin-bottom: 24px;

  &.sm {
    font-size: 14px;
  }

  &.md {
    font-size: 16px;
  }

  &.lg {
    font-size: 18px;
  }

  &.xl {
    font-size: 24px;
  }

  .form-control-label {

  }

  .form-control-required {

  }
}
.MuiFormControlLabel-labelPlacementStart{
  margin-left: 6px !important;
  font-weight: 700 !important;
}
.MuiFormControlLabel-label{
  font-weight: 500 !important;
  //color: #003E3B;
}