.inventory-list-screen {
  .t-cell-code, .t-cell-quantity, .t-cell-price {
    text-align: center !important;
  }
  .t-cell-action{
    padding-right: 30px !important;
  }


  .t-table-wrapper .t-table {
    .t-th, .t-td {
      &:first-child {
        padding-left: 30px;
      }

    }
  }
  .out-of-stock-chip {
    background-color: #FFE2E9;
    color: #DE1C4E;
    text-transform: none !important;

  }
}
