.inventory-list-screen {
  .t-cell-code, .t-cell-quantity, .t-cell-price {
    text-align: center !important;
  }

  .t-cell-action {
    padding-right: 20px !important;
  }


  .t-table-wrapper .t-table {
    height: calc(100vh - 225px) !important;

    .t-th, .t-td {
      &:first-child {
        padding-left: 30px;
      }

    }

    .table-no-data-wrapper {
      min-height: 450px !important;
    }
  }

  .out-of-stock-chip {
    background-color: #D26060;
    color: #FFFFFF;
    text-transform: none !important;
  }

  .list-content-wrapper {
    .no-product-text-wrapper {
      .no-product-description {
        font-size: 24px;
        color: #7F7F7F;
      }
    }
  }
}
