@import "src/assets/styles/common";

.coming-soon-screen {
  .coming-soon-title {
    font-size: 30px;
    color: #000000;
    opacity: 0.5;
    margin: 15px 0;
  }

  .coming-soon-description {
    font-size: 20px;
    color: #000000;
    opacity: 0.5;
  }
}