.add-medical-record-document-component {
  .add-medical-record-document-form-container {
    .file-preview-thumbnail-component {
      margin-bottom: 50px;
    }

    .upload-document-heading {
      margin-bottom: 16px;
    }
  }

  .t-form {
    //.t-form-controls{
    //  height: calc(100vh - 195px);
    //}
    .MuiPaper-root .MuiPaper-elevation {
      .MuiList-root,
      .MuiList-padding,
      .MuiMenu-list {
        max-height: 90px !important;
        height: 90px;
      }
    }

    //.MuiList-root-MuiMenu-list{
    //  max-height: 290px !important;
    //}
    .t-form-actions {
      margin-bottom: 0px;
    }

    .file-picker-wrapper {
      margin-bottom: 50px;
    }
  }
}


