.add-medical-record-document-component {
  .add-medical-record-document-form-container {
    .file-preview-thumbnail-component {
      margin-bottom: 50px;
    }

    .upload-document-heading {
      margin-bottom: 16px;
    }
  }

  .t-form {
    .t-form-actions {
      margin-bottom: 0px;
    }

    .t-form-control {

    }

    .file-picker-wrapper {
      margin-bottom: 50px;
    }
  }
}

.MuiList-root {
  max-height: 290px !important;
  overflow: auto;
}