.add-medical-record-document-component{
  .add-medical-record-document-form-container{
    .file-preview-thumbnail-component{
      margin-bottom: 80px;
    }
    .upload-document-heading{
      margin-bottom: 16px;
    }
  }
  .t-form{
    //.t-form-controls{
    //  height: calc(100vh - 195px);
    //}
    .t-form-actions{
      margin-bottom: 0px;
    }
    .file-picker-wrapper{
      margin-bottom: 50px;
    }
  }
}


