.accordion-component{
  .title-children-wrapper {
    margin-bottom: 24px;


    .title {
      display: flex;
      font-weight: 600;
      font-size: 1rem;
      color: #1D1C1D;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      cursor: pointer;
    }
    .title-answer{
      color: #7F7F7F;
    }
  }
}