.MuiChip-label{
  font-size: 12px !important;
}
.MuiChip-root{
  width: 100px !important;
}
.chip {
  text-transform: capitalize;

  &.active {
    background: #2CA091;
    color: #FFFFFF;
  }

  &.inactive {
    background: #B7B7B7;
    color: #FFFFFF;
  }

  &.completed {
    background: #2CA091;
    color: #2CA091;
  }

  &.out_of_stock {
    background: #FFE2E9;
    color: #DE1C4E;
  }

  &.draft {
    background: #8A54AF;
    color: #FFFFFF;
  }
  &.Modified{
    background: #EB9A78;
    color: #FFFFFF;
  }
  &.Removed{
    background: #D26060;
    color: #FFFFFF;
  }
  &.Added{
    background: #2CA091;
    color: #FFFFFF;
  }
}
