.MuiChip-label{
  font-size: 12px !important;
}
.MuiChip-root{
  width: 100px !important;
}
.chip {
  text-transform: capitalize;

  &.active {
    background: #BDE8CA;
    color: #00534F;
  }

  &.inactive {
    background: #DDDDDD;
    color: #5e5e5e;
  }

  &.completed {
    background: #E4F6EA;
    color: #00534F;
  }

  &.out_of_stock {
    background: #FFE2E9;
    color: #DE1C4E;
  }

  &.draft {
    background: #FFEDDD;
    color: #EF7300;
  }
  &.Modified{
    background: #FFEDDD;
    color: #EF7300;
  }
  &.Removed{
    background: #FFE2E9;
    color: #DE1C4E;
  }
  &.Added{
    background: #E4F6EA;
    color: #00534F;
  }
}
