.service-consultation-details-component {
  .t-cell-duration {
    padding-left: 30px !important;
  }

  .card-component {
    &.sm {
      .card-body {
        padding: 0;
      }

      .card-header {
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .t-table {
        width: 100%;
        background-color: red !important;
        border-radius: 0 0 8px 8px !important;
        border-top: none !important;
        border-bottom: none !important;
        border-right: 1px solid #E2E2E2 !important;
        border-left: 1px solid #E2E2E2 !important;

        .t-thead {
          .t-th {
            background-color: #F0F6FA !important;
          }

        }
      }
    }

    .horizontal-divider {
      border-bottom: 2px solid #CECECE;
      margin-top: 0 !important;
    }
  }

  .t-table-wrapper .t-table:not(.t-table-wrapper .t-table.auto-height) {
    min-height: auto !important;
  }
}