.service-consultation-details-component {
  .card-component {
    &.sm {
      .card-body {
        padding: 0;
      }
    }

    .card-header {
      .card-title-description-wrapper {
        .card-title {
          font-weight: 700;
          text-decoration: underline;
        }
      }

      .card-title {
        margin-left: 30px;
      }
    }
  }

  .t-table-wrapper .t-table:not(.t-table-wrapper .t-table.auto-height) {
    min-height: auto !important;
  }
}