.appointment-list-component {
  .appointment-list-wrapper {
    overflow: scroll;
    padding-bottom: 24px;

    .t-cell-time {
      padding-left: 30px !important;
    }

    .t-cell-actions {
      padding-right: 30px !important;
    }

    .t-table-wrapper {
      .t-table {
        min-height: 287px !important;
        .table-no-data-wrapper {
          min-height: 300px !important;
        }
      }
    }

  }

  .appointment-list-heading {
    font-weight: 700;
    font-size: 1.1429rem;
    color: #212B36;
    margin-bottom: 16px;
  }
}