
.client-medical-record-details-component {
  .client-medical-records-header-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
  }
  .tab-heading{
    color: #212B36;
    font-size: 1rem;
    text-decoration: underline;
  }
}