.color-component {
  .sketch-picker {
    box-shadow: 0px 16px 32px 0px #23170542 !important;
    border-radius: 12px !important;
    height: 390px;
    border: none;
    width: 250px !important;
  }

  .select-button {
    position: absolute;
    bottom: 15px;
    left: 100px;
  }
}