@import "src/assets/styles/common";

.comment-text {
  word-break: break-word;
}

.add-medical-intervention-screen {
  word-break: break-word;
  width: 100%;

  .plan-card-wrapper {
    .card-component {
      margin-bottom: 0 !important;
    }
  }

  .t-cell-description {
    padding-left: 20px !important;
  }

  .readonly-wrapper {
    margin-bottom: 15px;


    .readonly-text {
      margin-bottom: 24px;
      word-wrap: break-word;
    }

    .form-control-label-component {
      margin-bottom: 5px;
    }
  }

  .not-texted-text-rom {
    margin-left: 0px;
  }

  .special-test-view-header {
    color: #212B36 !important;
  }

  .not-texted-text-special-test {
    margin-left: 89px;
  }

  .not-texted-text-icd {
    margin-left: 0px;
  }

  .completed-wrapper {
    display: flex;
    word-wrap: break-word;

    .body-part-card {
      .card-header {
        min-height: 40px !important;
      }
    }

    .card-component {
      .card-header {
        padding: 0px 24px;
      }
    }

    .rom-header {
      width: 100%;
      box-shadow: none !important;
      border-radius: 8px !important;
      border: 1px solid #E2E2E2 !important;
    }

    .card-wrapper {
      .card-component {
        .card-header {
          padding: 0px 24px;
        }
      }
    }

    .card-styling {
      .special-test-header {
        width: 100%;
        box-shadow: none !important;
        border-radius: 8px !important;
        border: 1px solid #E2E2E2 !important;

        .t-table-wrapper {
          .t-table {
            .header .t-tr {
              .th {
                background: #F6FBFF !important;
              }
            }
          }
        }
      }
    }

    .form-control-label {
      width: 175px;
      color: #212B36 !important;
    }

    .completed-text {
      //margin-left: 30px;
      margin-bottom: 30px;
      word-wrap: break-word;
    }
  }

  .rom-icd-not-tested-block {
    .form-control-label {
      width: 175px !important;
      color: #212B36 !important;
    }
  }

  .intervention-clear-button {
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 1px;
    margin-bottom: 5px;
  }

  .icd-codes-wrapper {
    //.card-component{
    //  .card-header{
    //    padding: 0px !important;
    //    .card-title-description-wrapper{
    //      .card-title{
    //       padding-left: 10px !important;
    //      }
    //    }
    //  }
    //}
    margin-bottom: 20px;
    width: 100%;

    .icd-codes-header-wrapper {
      width: 100%;
      border: 1px solid #212B36;
    }

    .icd-codes-header {
      box-shadow: none !important;
      border-radius: 8px !important;
      border: 1px solid #E2E2E2 !important;

    }

    .icd-codes-heading {
      background: $primary-color;
      display: flex;
      padding-bottom: 5px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .form-control-label-component {
        margin-bottom: 0px !important;
      }
    }
  }

  .card-styling {
    .comment-row {
      display: flex;
      align-content: center;

      .comment-icon {
        margin-right: 17px;
      }
    }

    .card-component {
      margin-bottom: 0px !important;

    }

    &.white-card-header {
      & > .card-header {
        background: #FFFFFF;
      }
    }

    &.padding-card-10 {
      .card-body {
        padding: 10px;
      }
    }

    &.padding-card-5 {
      .card-body {
        padding: 5px;
      }
    }

    &.no-padding-card {
      .card-body {
        padding: 0;
      }
    }
  }

  .last-updated-status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    padding-bottom: 10px;
    margin-top: 5px;

    .last-updated-status-text {
      font-size: 14px;
      color: #6D6D6D;
    }

    .last-updated-status-bold {
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
    }

    .last-updated-status-status {
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #00534F
    }

    .spin-item {
      animation-name: spin;
      animation-duration: 1600ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      /* transform: rotate(3deg); */
      /* transform: rotate(0.3rad);/ */
      /* transform: rotate(3grad); */
      /* transform: rotate(.03turn);  */
    }

    @keyframes spin {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
  }
}
