.medical-intervention-finalize-treatment-screen {
 .ant-table-tbody {
   .t-cell-select {
     padding-left: 30px !important;
   }
 }
  .ant-table-thead{
    .t-cell-select{
      padding-left: 30px !important;
    }
  }
  .finalize-treatment-wrapper{
    padding-bottom: 24px;
  }

    .input-component {
      margin-bottom: 0 !important;
  }

  .select-component {
    margin-top: 3px;
    margin-bottom: 0px !important;
  }

  .t-cell-units_of_care, .t-cell-minutes {
    .input-component {
      input {
        text-align: center !important;
      }
    }
  }

  .ant-table-container {
    //height: 400px;
    overflow: auto;
  }
}
