.medical-intervention-finalize-treatment-screen {
  .t-form-actions {
    margin-bottom: 0;
  }

  .ant-table-tbody {
    .t-cell-select {
      padding-left: 20px !important;
    }
  }

  .ant-table-thead {
    .t-cell-select {
      padding-left: 20px !important;
    }
  }

  .finalize-treatment-wrapper {
    padding-bottom: 24px;

    .no-code-text {
      font-size: 20px;
      color: #7F7F7F;
    }

    .cpt-codes-viw-list-header {
      display: flex;
      justify-content: space-between;
      column-gap: 10px;
      margin-bottom: 20px;
      flex-wrap: wrap;
      row-gap: 10px;

      .cpt-code-list-footer {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;

        .total-heading {
          color: #1D1C1D;
          font-weight: 700;
        }

        .total-minutes-wrapper {
          border: 1px solid #ABB6BE;
          padding: 9px 0;
          width: 115px;
          border-radius: 10px;
          background: #FFFFFF;
          margin-left: 12px;
          text-align: center;
        }
      }
    }

    .ant-table-content {
      height: 100%;

      table:has(.status-card-component) {
        height: 100%;
      }
    }

  }

  .input-component {
    margin-bottom: 0 !important;
  }

  .select-component {
    margin-top: 3px;
    margin-bottom: 0px !important;
  }

  .t-cell-units_of_care, .t-cell-minutes {
    .input-component {
      input {
        text-align: center !important;
      }
    }
  }

  .ant-table-container {
    height: 400px;
    overflow: auto;

    .table-no-data-wrapper {
      min-height: 250px !important;
    }
  }
}

.cpt-codes-select-list {
  .table-v2-component {
    height: calc(100vh - 260px);

    .ant-table-content {
      height: calc(100vh - 260px);
    }
  }
}
