.view-prior-note-component{

  .t-table-wrapper{
    .t-table{
      border-radius: 8px;
      height: calc(100vh - 240px);
      .t-cell-actions{
        padding-right: 20px !important;
      }
    }
  }
}