.data-label-value {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  .data-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #A9B2B9;
  }

  .data-value {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: #212B36;
  }

  &.row {
    flex-direction: row;

    &:not(:first-child){
      .data-label {
        margin-left: 6px;
      }
    }
  }

  &.column {
    flex-direction: column;

    .data-label {
      margin-bottom: 6px;
    }
  }

}