.client-documents-list-table-component {
  .client-documents-list{
    .t-table{
      .table-no-data-wrapper{
        min-height: 400px;

      }
    }
  }
  .t-cell-case_name {
    padding-left: 30px !important;
  }

  .t-cell-actions {
    padding-right: 30px !important;
  }

  margin-top: -5px;

}