.client-documents-list-table-component {
  .client-documents-list{
    .t-table{
      .table-no-data-wrapper{
        min-height: 400px;

      }
    }
  }
  .t-cell-case_name {
    padding-left: 20px !important;
  }

  .t-cell-actions {
    padding-right: 20px !important;
  }

  .no-document-text {
    color: #7F7F7F;
    font-size: 24px;
  }

  margin-top: -5px;

}