.report-an-issue-component{
  .file-data{
    column-gap: 15px;
  }
  .card-component{
      margin-bottom: 0px !important;
  }

  .t-form {
    .report-an-issue-wrapper{
      margin-top: 46px;
      padding-bottom: 13px !important;
    }
    .t-form-actions{
      margin-top: 30px !important;
      margin-bottom: 24px !important;
    }
    .ts-row {
      .issue-heading {
        margin-left: 13px;
        color: #212B36;
        text-decoration: underline;
        margin-bottom: 15px !important;
      }
      .attachment-heading{
        margin-bottom: 15px !important;
        color: #212B36;
        text-decoration: underline;
      }
      .thumbnail-wrapper{
        margin-left: -10px !important;
        padding-right: 0 !important;
      }
      .input-component{
        margin-bottom: 0px !important;
      }

        .MuiTextField-root{
          margin-bottom: 0px !important;
        }
        .alert-error {
          display: flex;
          flex-direction: row-reverse;
          color: #FF6767;
          font-weight: 500;
          font-size: 0.85714rem;
          float: end;
          margin-left: 200px;
          margin-top: -12px;
          margin-bottom: 24px;
        }
        .no-alert {
          display: flex;
          flex-direction: row-reverse;
          color: #83909D;
          font-weight: 500;
          font-size: 0.85714rem;
          margin-top: 8px;
          margin-bottom: 24px;

      }
    }
  }
}
