.edit-medical-record-container {
  .t-form {

    .remove-btn {
      display: flex;
      justify-content: end;
      align-items: end;
      margin-bottom: 20px;
    }

    .add-body-part-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }

}
.edit-medical-record-component{
  .t-form{
    .t-form-actions {
      margin-bottom: 5px;
    }
    .t-surgery-record-drawer-form-controls{
      .file-picker-wrapper{
        margin-bottom: 50px;
      }
    }
  }
}

