.edit-medical-record-container {
  .t-form {

    .remove-btn {
      display: flex;
      justify-content: end;
      align-items: end;
      margin-bottom: 20px;
    }

    .add-body-part-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }

}
.edit-medical-record-component{
  .t-form{
    //.t-form-controls{
    //  height: calc(100vh - 250px);
    //}
    .t-form-actions {
      margin-top: 60px;
      margin-bottom: 0px;
    }
    .t-surgery-record-drawer-form-controls{
      .file-picker-wrapper{
        margin-bottom: 30px;
      }
    }
    .attachment-heading{
      margin:10px 0 16px 0;
      font-weight: 700;
      font-size: 1.1429rem;


    }
  }
}

