@import "src/assets/styles/common";

.client-add-component {

  //.t-form-controls {
  //  height: calc(100vh - 207px);
  //}

  .note-wrapper {
    //width: 550px;
    height: 50px;
    background-color: #FFF3E9;
    border-radius: 4px;
    display: flex;
    margin-bottom: 200px;
    align-items: center;
    padding: 24px;

    .note-content {
      font-weight: 500;
    }
  }
  .t-form-actions{
    margin-bottom: 0px !important;
    .adding-client-cta{
      margin-left: 14px;
    }
  }
  .message-box-wrapper{
    background-color: #F7F9F9;
    margin-left: 12px;
    padding: 12px;
    border-radius: 10px;
    .message-heading{
      font-weight: 700;
      text-decoration: underline;
      padding-left: 12px;
    }
    .list-text{
      padding-top: 12px;
      padding-bottom: 20px;
    }

  }
  .MuiFormControlLabel-label{
    color: #000000;
  }
}
