.add-dry-needling-file-component{
  .file-preview-thumbnail-component{
    margin-bottom: 143px;
  }
  .add-dry-needling-file-form-container{
    .file-picker-wrapper{
        margin-bottom: 80px;
    }
  }
  .t-form{
    .t-form-controls{
      height: calc(100vh - 220px);
    }
    .t-form-actions{
      margin-bottom: 0px;
    }
  }
}
