.add-dry-needling-file-component {
  .add-dry-needling-file-form-container {

    .t-form-controls {
      height: calc(100vh - 120px) !important;
    }

    .t-form-actions {
      margin-top: 30px;
      margin-bottom: 0 !important;
    }

    .upload-dry-needling-heading {
      margin-bottom: 12px;
      color: #212B36;
      font-size: 14px;
    }
  }
}
