.new-message-component{
  margin-top: 15px;
  .news-update-text{
    color: #6D6D6D;
    margin-bottom: 15px;
  }
  .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
    background-color: #EAF3F2;
  }
  .css-o4b71y-MuiAccordionSummary-content{
    color: #212B36;
    font-weight: 500;
    font-size: 1.1429rem;
  }
  .enter-message-text{
    color: #6D6D6D;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .select-text{
    color: #6D6D6D;
  }
}