.client-musculoskeletal-form-component{
    .add-musculoskeletal-history-heading{
        font-weight: 700;
        font-size: 1.2857rem;
        color: #00534F;
        margin-bottom: 24px;
    }
    .t-form {
        .t-form-actions {
            margin-top: 60px;
            margin-bottom: 24px;
            .submit-cta{
                margin-left: 16px;
            }
        }
    }
}