.file-preview-thumbnail-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #DFF6F3;
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 10px;
  border: 1px solid #2CA091;
  box-shadow: 0px 4px 8px 0px #D1D1D1;

  &.detailed {

  }

  &.compact {
    padding: 10px 20px;
    margin-bottom: 20px;

    .file-data {
      .file-preview-thumbnail {
        height: 24px !important;
        width: 24px !important;
      }
    }

    .file-remove {
      svg {
        height: 24px !important;
        width: 24px !important;
      }
    }
  }

  .file-data {
    display: flex;
    align-items: center;

    .file-preview-thumbnail {
      height: 60px;
      width: 60px;
      //padding: 5px;

      img {
        height: auto;
        width: 48px;
        border-radius: 5px;
      }

      .avatar-component {
        background: transparent;
      }
    }

    .file-name {
      margin: 0 10px;
      max-width: 355px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .file-options {
    white-space: nowrap;

    .file-remove {
      svg {
        height: 16px;
        width: 16px;
      }
    }
  }

  .avatar-component {
    height: inherit;
    width: inherit;
  }


}
