.block-calender-component {

  .t-form-controls {
    height: calc(100vh - 210px);
    .MuiCheckbox-root,.MuiTypography-root {
      color: #212B36;
    }
  }

  .t-form-actions {
    margin-bottom: 0px !important;

    .adding-client-cta {
      margin-left: 14px;
    }
  }

}
.modal-content-wrapper:has(.send-cancelled-statement){
  width: 1000px !important;
}
