.client-allergies-form-component {
  .add-allergies-heading {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
  }

  .t-form {
    .card-component {
      padding-bottom: 4px;

      .card-description {
        margin-top: 0 !important;
      }
    }

    .t-form-actions {
      margin-bottom: 24px;
      margin-top: 30px;

      .submit-cta {
        margin-left: 16px;
      }
    }
  }
}