.progress-report-view-details-component{

    .progress-report-view-details-header{
      display: flex;
      justify-content: end;
      margin-bottom: 24px;
    }
  .progress-report-view-details-component-header{
    .comment-row {
      display: flex;
      align-items: center;

      .comment-icon {
        margin-right: 17px;
      }

    }
  }
}