.client-medical-intervention-details-component {
  .card-component {
    margin-bottom: 0px;

    .card-title {
      color: #00534F;;
    }
  }

  .movement-name {
    margin-top: 18px;
    margin-bottom: 19px;
  }

  .test-name {
    margin-top: 20px;
    margin-bottom: 21px;
  }

  .client-medical-intervention-details-wrapper {
    line-height: 24px;

    .soap-note-heading {
      font-size: 1.4286rem;
      margin-left: 30px;
    }

    .observation-wrapper {
      font-weight: 700;
      font-size: 1.1429rem;
      margin-bottom: 6px;

      .client-medical-intervention-details-wrapper {
        line-height: 24px;

        .observation-wrapper {
          font-weight: 700;
        }

        .objective-table-wrapper {
          border: 1px solid #ABB6BE;
          border-radius: 5px;
          margin-top: 24px;


          .range-of-motion-label {
            margin-top: 16px;
            margin-left: 30px;
            font-size: 1.1429rem;
          }

          .medical-details-wrapper {
            margin-bottom: 24px;

            .index-of-suspicion {
              margin-top: 24px;
              font-weight: 700;
              font-size: 1.1429rem;
              margin-bottom: 6px;
            }
          }

          .assessment-table-wrapper {
            border: 1px solid #ABB6BE;
            border-radius: 5px;


            .medical-diagnosis-label {
              margin: 16px;
              font-size: 1.1429rem;
            }
          }
        }

        .special-test {
          margin-top: 20px;
          margin-bottom: 21px;
          border: 1px solid #D9E2E2;

          .card-component {
            .card-body {
              padding: 0px;
            }
          }

          .special-test-label {
            margin-top: 16px;
            margin-left: 30px;
            font-size: 1.1429rem;
          }
        }

        .signature-wrapper {
          display: flex;
          justify-content: end;
          align-items: end;

          .signature-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 110px;
            margin-top: 50px;
            width: 350px;
            border-radius: 4px;
            border: 1px solid #D9E2E2;
          }
        }

        .electronic-sign {
          display: flex;
          justify-content: end;
          margin-right: 50px;
          color: #212B36;
        }

        .comment-row {
          display: flex;
          align-items: center;

          .comment-icon {
            margin-right: 17px;
          }

        }

        .assessment-sub-table-wrapper {
          display: flex;
          border-bottom: 1px solid #EAF3F2;;
          background-color: #EAF3F2;
          height: 57px;
          align-items: center;

          .header-icd {
            width: 10%;
            height: auto;
            text-align: center;
            border-right: 1px solid #D9E2E2;
            font-size: 1.1429rem;
          }

          .header-description {
            font-size: 1.1429rem;
            margin-left: 20px;
          }
        }


        .medical-diagnosis-label {
          margin: 16px;
        }
      }
    }

    .assessment-rows {
      display: flex;
      height: 57px;
      align-items: center;
      border-bottom: 1px solid #D9E2E2;

      .code-row {
        width: 10%;
        height: auto;
        text-align: center;
        border-right: 1px solid #D9E2E2;
        font-size: 1rem;
      }

      .code-description {
        width: 80%;
        height: auto;
        margin-left: 20px;
        font-size: 1rem;
      }
    }
  }
}