.client-medical-provider-information-form-component {
  .card-component {
    margin-bottom: 0 !important;
    padding-bottom: 4px;
  }

  .communication-referral-heading {
    color: #1D1C1D;
    text-decoration: underline;
    margin-bottom: 20px;
  }

  .referral-details-heading {
    color: #1D1C1D;
    font-size: 16px;
    text-decoration: underline;
  }

  .question-component {
    .question-title {
      color: #1D1C1D;
      font-weight: 700;
    }
  }
  .other-wrapper{
    .question-component {
      .question-title {
        color: #7F7F7F;
        font-weight: 400;
      }
    }
  }


  .add-communication-referral-heading {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
  }

  .horizontal-line-wrapper {
    border: 2px solid #CECECE;
  }

  .t-form {
    .t-form-actions {
      margin-bottom: 24px;
      margin-top: 30px;

      .submit-cta {
        margin-left: 16px;
      }
    }
  }
}