.client-medical-provider-information-form-component{
  .card-component{
    margin-bottom: 0 !important;
  }

  .add-communication-referral-heading{
    font-weight: 700;
    font-size: 1.2857rem;
    color: #00534F;
    margin-bottom: 24px;
  }
  .horizontal-line-wrapper{
    border: 2px solid #CECECE;
  }
  .t-form {
    .t-form-actions {
      margin-top: 60px;
      margin-bottom: 24px;
      .submit-cta{
        margin-left: 16px;
      }
    }
  }
}