.draft-note-list-component {
  .card-component{
    padding-bottom: 24px;
  }
  .draft-note-list-wrapper {
    .t-table-wrapper {
      .t-table {
        height: calc(100vh - 350px);
        overflow: scroll;
      }
    }
  }

  .draft-note-heading {
    font-weight: 700;
    font-size: 1.1429rem;
    color: #212B36;
    margin-bottom: 24px;
  }

  .provider-name {
    text-transform: capitalize;
  }
}