@import "src/assets/styles/common";

.book-appointment-component-drawer {
  .drawer-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    .drawer-body {
      display: flex;
      flex: 1;
    }
  }
}

.book-appointment-component {
  display: flex;
  flex: 1;
  flex-direction: column;
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    color: #212B36;
    margin-bottom: 15px;
  }


  .client-search-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    .client-search-input {
      flex: 0;
      margin-top: 16px;
      margin-bottom: 4px;
    }

    .client-search-body {
      flex: 1;

      .client-search-body-heading {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 16px;
        color: #000000;
      }

      .t-table-wrapper {
        width: 100%;
        //.t-table {
        //  min-height: calc(100vh - 100px);
        //  .table-no-data-wrapper {
        //    min-height: calc(100vh - 200px) !important;
        //  }
        //}
        overflow: auto;
        //max-height: calc(100vh - 200px);

      }
    }

    .client-search-btn {
      flex: 0;
    }
  }

  .booking-confirmation-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    .booking-confirmation-status {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .booking-confirmation-status-icon {
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
      }
      .booking-confirmation-status-text {
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        margin-top: 30px;
        color: #000000;
      }
    }

    .booking-confirmation-action {
      flex: 0;
    }
  }
}
