@import "src/assets/styles/common";

.date-range-picker-component {
  &.full-width {
    width: 100%;
  }
  .react-daterange-picker__wrapper {
    padding: 6px 10px;
    //padding-left: ;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.6);
    border: thin solid #c7c1c1;
    background-color: #FFFFFF;

    &:hover {
      border: thin solid #000;
    }

    &:focus {
      border: 2px solid $primary-color;
    }

    .react-daterange-picker__inputGroup {
      color: #000;
    }
  }

  .react-daterange-picker__button {
    color: #8a8686;
  }

  .react-daterange-picker__inputGroup__input:invalid {
    background: none;
  }

  .react-daterange-picker__calendar {
    z-index: 10;
    width: 600px
  }

  .react-daterange-picker__calendar .react-calendar {
    background-color: #fff;
    color: #000;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    transform-origin: top center;
    outline: 0;
    border: none;
  }

  .react-calendar__tile--now {
    border: 1px solid rgba(0, 0, 0, 0.6) !important;
    border-radius: 50%;
    height: 40px;
    background-color: transparent;
    font-weight: $font-weight-bold;
  }

  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background-color: transparent;
  }

  .react-calendar__tile--hasActive {
    background: #76baff;
  }

  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }

  .react-calendar__tile--active {
    background: $primary-color;
    color: white;
    border: none !important;
    border-radius: 0;
    height: auto;
  }

  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: $primary-color;
  }

  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }

}

