@import "src/assets/styles/common";

.book-appointment-overview-component {
  flex: 1;
  display: flex;
  flex-direction: column;

  .drawer-header {
    justify-content: flex-start !important;

    .back-btn {
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;
      margin-right: 10px;
    }

    .appointment-details-title {
      font-weight: 500;
      font-size:1.4286rem;
      line-height: 24px
    }
  }

  .overview-block {
    padding: 10px;
    margin: 10px 0;
    background: #F9F9FB;
    border-radius: 5px;

    &.green-card {
      background: #BDE8CA;
    }

    &.overview-block-time {
      .block-content {
        justify-content: center;
        align-content: center;
        flex-direction: row;

        .content-title {
          margin-left: 10px;
          line-height: 24px;
          font-weight: 400;
          font-size: 16px;
          color: #212B36;
        }
      }
    }

    .block-heading {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #212B36;
    }

    .block-body {
      display: flex;
      flex-direction: row;
      padding: 10px;

      .avatar-wrapper {
        padding: 0 10px;

        .blue-avatar {
          background: #B7E3FF;
        }

        .green-avatar {
          background: #ACFCEA;
        }
      }
    }

    .block-content {
      margin-left: 20px;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .content-title {
        font-weight: 500;
        font-size: 18px;
        color: #212B36;
        margin-bottom: 5px;
      }

      .content-sub-title {
        font-weight: 400;
        font-size: 14px;
        color: #212B36;
      }

      .service-category-name {
        font-weight: 400;
        font-size: 14px;
        color: #008080;
        text-transform: capitalize;
      }

      .service-name {
        font-weight: 500;
        font-size: 20px;
        color: #212B36;
        text-transform: capitalize;
      }
    }
  }
  .details-header {
    .block-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .block-content {
        flex-direction: row;
        display: flex;
        align-items: center;
        color: #83909D;
        justify-content: center;
        flex: 0;
        white-space: nowrap;

        .content-title {
          margin-left: 10px;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #83909D;
        }
      }
    }
  }
  .details-box {
    margin: 10px 0;
    border: 1px solid #E7E8EA;
    .details-header {
      background: #F2F6F6;
      padding: 12px;
    }
    .details-body-block {
      border-top: 1px solid #E7E8EA;
      .details-body-item {
        display: flex;
        flex-direction: row;
        .item-heading {
          flex: 1;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          color: #83909D;
          padding: 9px;
        }
        .item-value {
          padding: 9px;
          flex: 1;
          font-weight: 400;
          font-size: 14px;
          //line-height: 16px;
          //display: flex;
          //align-items: center;
          color: #212B36;
          &.green {color: #37A850 !important}
          &.red {color: #CB6100 !important}
        }
      }
    }
  }
}
