@import "src/assets/styles/common";

.faq-component {
  margin-top: 50px;


  .faq-question-wrapper {
    width: 941px;
    height: 450px;
    .card-component {
      margin-bottom: 0px;
      .card-body{
        padding: 24px;
      }
    }

    .faq-block-wrapper {
      overflow: hidden;
      overflow-y: scroll;
      height: 450px;

    }


    .contact-info-wrapper {
      background-color: #E0F0F0;
      height: 80px;
      border-radius: 8px;
      margin-top: 24px;


      .card-component {
        margin: 0px;

      }

      .contact-number-wrapper {
        display: flex;
        justify-content: space-between;

        .contact-text {
          font-weight: 700;
          font-size: 1.2857rem;
          margin: 17px 0 5px 24px;
        }

        .contact-number-icon-wrapper {
          display: flex;
          justify-content: space-between;
          font-weight: 700;
          font-size: 1.2857rem;
          padding-top: 5px;
          align-items: center;

          .contact-number-wrapper {
            font-weight: 700;
            font-size: 1.2857rem;
            margin: 17px 24px 5px 0;
            align-items: center;
            //padding-top: 5px;

          }
        }
      }

      .help-text {
        margin-left: 24px;
        color: #484848;
        opacity: 0.5;
      }
    }
  }

}
