@import "src/assets/styles/common";

.faq-component {
  display: flex;
  flex-direction: column;
  margin-top: 46px;

  .faq-question-wrapper {
    .card-component {
      margin-bottom: 0px;
      height: auto;

      .card-body {
        padding: 24px;
      }
    }

    .faq-block-wrapper {
      overflow: auto;
      //height: calc(100vh - 40vh);
      height: auto;

      .faq-block-content {
        overflow: auto;
        height: auto;
      }
    }

    .contact-info-wrapper {
      background-color: #DFF6F3;
      height: 80px;
      border-radius: 8px;

      .card-component {
        margin: 0;
      }

      .contact-number-wrapper {
        display: flex;
        justify-content: space-between;

        .card-component {
          .card-body {
            padding-bottom: 0px;
          }
        }

        .contact-text {
          font-weight: 700;
          color: #1D1C1D;
          font-size: 16px;
          margin: 17px 0 5px 24px;
        }

        .contact-number-icon-wrapper {
          display: flex;
          justify-content: space-between;
          font-weight: 700;
          font-size: 1.2857rem;
          padding-top: 5px;
          align-items: center;

          .contact-number-wrapper {
            font-weight: 700;
            color: #1D1C1D;
            font-size: 16px;
            margin: 17px 24px 5px 0;
            align-items: center;
          }
        }
      }

      .help-text {
        margin-left: 24px;
        color: #7F7F7F;
        //opacity: 0.5;
        padding-bottom: 24px;
      }
    }
  }
}