@import "src/assets/styles/common";

.client-details-screen {

  .client-details-layout {
    display: flex;

    .client-details-left-bar {
      position: fixed;
      padding: 0 15px 0 0;
      flex: 0;

      .client-details-title {
        font-weight: $font-weight-bolder;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 0.5px;
        color: $text-light-2;
        margin: 15px 0 20px;
      }

      .client-details-basic-card-holder {
        margin-bottom: 6px;
      }
    }

    .client-details-content-wrapper {
      margin-left: 233px;
      flex: 1;

      .client-details-tab{
        font-size: 1.0714rem;
      }

      .client-details-actions {
        display: flex;
        margin: 5px 0 13px;
        flex-direction: row-reverse;
      }
    }
  }

}