.edit-medical-record-container {
  .t-form {
    .remove-btn {
      display: flex;
      justify-content: end;
      align-items: end;
      margin-bottom: 20px;
    }

    .appointment-heading {
      color: #212B36;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 12px !important;
    }

    .add-body-part-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }
}

