@import "src/assets/styles/common";

.password-validator-component {

  .validator-rule-list {

    .validator-rule-item {
      display: flex;
      align-items: center;
      //margin-bottom: 5px;

      &.invalid {
        .validator-rule-icon {
          color: #FA6187;
        }
      }

      &.valid {
        .validator-rule-icon {
          color: $success-color;
        }
      }

      .validator-rule-icon {
        position: relative;
        top: 2px;

        svg {
          height: 16px;
          width: 16px;
        }
      }

      .validator-rule-text {
        margin-left: 18px;
        font-size: 12px;
      }
    }
  }
}
