@import "src/assets/styles/common";

.password-validator-component {

  .validator-rule-list {

    .validator-rule-item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      &.invalid {
        .validator-rule-icon {
          color: $error-color;
        }
      }

      &.valid {
        .validator-rule-icon {
          color: $success-color;
        }
      }

      .validator-rule-icon {
        position: relative;
        top: 2px;

        svg {
          height: 18px;
          width: 18px;
        }
      }

      .validator-rule-text {
        margin-left: 18px;
        font-size: 0.857rem;
      }
    }
  }
}
