@import "src/assets/styles/common";

.client-medical-details-card-component {

  .client-name-button-wrapper {
    display: flex;
    justify-content: space-between;

    .client-name-wrapper {
      font-size: 1.4286rem;
      font-weight: 700;

      .client-name {
        padding-right: 10px;
      }
    }
  }
  .edit-icon{
    margin-left: 4px !important;
  }

  .close-modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .intervention-injury-details-wrapper{
    .data-value{
      margin-left: 10px;
    }
  }
}
