.system-settings-screen {
  margin-top: 52px;

  .other-settings-wrapper {
    .card-component {
      margin-bottom: 0 !important;
    }
  }

  .horizontal-line-wrapper {
    margin-top: 0px;
  }

  .question-component {
    .question-title {
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
}