.system-settings-screen {
  margin-top: 52px;

  .other-settings-wrapper {
    .card-component {
      margin-bottom: 0 !important;
      .question-title{
        color: #1D1C1D;
        font-weight: 700;
      }
      .question-description{
        color:#7F7F7F;
      }
    }
  }

  .horizontal-line-wrapper {
    margin-top: 0px;
  }

  .question-component {
    .question-title {
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
}