.client-profile-layout-component{

  background-color: #FFFFFF;
  height: calc(100vh - 80px);
  .client-details-actions{
    position: sticky;
    top: 10px;
    background-color: #FFFFFF;
    z-index: 2;
    padding-top: 0;
  }
  .tabs-wrapper{
    position: sticky;
    top: 40px;
    background-color: #FFFFFF;
    z-index: 1;
  }
}