.medical-intervention-rom-config-screen {
  .input-component {
    margin-bottom: 0 !important;
    width: 60px !important;
  }

  .t-cell-comments, .t-cell-prom, .t-cell-arom, .t-cell-strength {
    text-align: center !important;
  }

  .status-button-wrapper {
    position: absolute;
    margin-left: 233px;
    top: 50%;
  }
}
