.user-add-component {
  .MuiAutocomplete-tag {
    background: #2CA091 !important;
    color: #FFFFFF !important;
    width: 180px !important;
  }

  .t-form {
    .t-form-actions {
      margin-top: 30px;

      .submit-cta {
        margin-left: 16px;
      }
    }
  }
}