.user-basic-details-edit-component{
  .edit-user-heading{
    color: #275778;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .t-form{
    .primary-phone-divider{
      border:1px solid #CECECE;
    }
    .alternate-phone-divider{
      border:2px solid #CECECE;
    }
    .remove-contact-button{
      margin-bottom: 24px;
      margin-left: 20px;
      align-items: center;
    }
    .secondary-emergency-divider{
      border:2px solid #CECECE;
    }
    .t-form-actions{
      margin-top: 30px !important;
      margin-bottom: 24px !important;
      .submit-cta{
        margin-left: 16px;
      }
    }
    .add-another-contact-cta{
      margin-bottom: 24px;
    }
  }

}