.add-inventory-product-component{
  .file-upload{
    padding-bottom: 24px !important;
  }
  .t-form-actions{
    margin-bottom: 0px !important;
    margin-top: 30px !important;
    .cancel-cta{
      margin-right: 14px !important;
    }
  }
}