.link-component {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.002em;
  color: #00534F;

  &:not(&:has(button)) {
    text-decoration: underline;
  }

  &:hover {
    color: #00534F;
    text-decoration: none !important;
  }
}