@import "src/assets/styles/common";

.link-component {
  font-weight: $font-weight-medium;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.002em;
  text-decoration-line: underline;
  color: $primary-color;
  display: flex;
  align-items: center;
  &:not(&:has(button)) {
    text-decoration: underline;
    color: $primary-color;
  }

  &:hover {
    color: $primary-color;
    cursor: pointer;
    text-decoration: none !important;
  }


  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
