@import "src/assets/styles/common";

.billing-details-screen {


  .table-no-data-wrapper {
    min-height: 200px !important;
  }

  .cta-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-items: center;
  }

  .billing-details-container {
    .card-component {
      padding-bottom: 4px !important;
      box-shadow: none;
    }

    .alert-error {
      display: flex;
      flex-direction: row-reverse;
      color: #FF6767;
      font-weight: 500;
      font-size: 0.85714rem;
      float: end;
      margin-left: 200px;
      margin-top: -12px;
      margin-bottom: 24px;
    }

    .no-alert {
      display: flex;
      flex-direction: row-reverse;
      color: #83909D;
      font-weight: 500;
      font-size: 0.85714rem;
      margin-top: -12px;
      margin-bottom: 24px;

    }

    .billing-details-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      align-items: center;

      .billing-details-meta {
        text-align: end;

        .appointment-id-heading, .receipt-no-heading {
          color: #7F7F7F;
          margin-bottom: 6px;
        }

        .appointment-id, .receipt-no {
          color: #1D1C1D;
          font-size: 16px;
          font-weight: 700;

        }

        .data-label-value {
          margin-bottom: 4px;
        }

        .billing-date {
          color: #1D1C1D;
          margin-top: 4px;
        }
      }
    }

    .billing-address-wrapper {
      //display: flex;
      //justify-content: space-between;
      margin-bottom: 20px;
      flex-direction: column;

      @include md() {
        flex-direction: row;
      }

      .billing-address-block {
        text-align: start;
        max-width: 50%;

        .billing-address-block__header {
          justify-content: flex-start;

          .edit-button {
            margin-top: -10px
          }

          .link-component {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.002em;

            &:not(&:has(button)) {
              text-decoration: underline;
              color: #1479FF;
            }

            &:hover {
              color: #1479FF;
              cursor: pointer;
              text-decoration: none !important;
            }
          }
        }

        .billing-address-block__header {
          display: flex;

          .billing-address-block__title {
            font-weight: 400;
            line-height: 19px;
            color: #7F7F7F;
            margin-bottom: 8px;

            .link-component {
              svg {
                color: $primary-color !important;
              }

              .edit-text {
                color: $primary-color !important;
              }
            }
          }

        }

        .billing-address-block__details {

          .billing-address-block__detail__row {
            font-weight: 400;
            line-height: 19px;
            color: #1D1C1D;

            &.name {
              font-weight: 700;
              line-height: 19px;
              color: #1D1C1D;
              font-size: 16px;
              margin-bottom: 8px;
            }

          }
        }
      }
    }

    //.card-component {
    //  margin-bottom: 0px !important;
    //}

    .add-new-invoice__comments__payment__block__wrapper {
      background: #ECF7FF;
      padding: 24px 24px 10px;
      border: 1px solid #E2E2E2;
      border-radius: 8px;

      .add-new-invoice__comments__block {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;

        .comment-wrapper {
          border: 1px solid #E2E2E2;
          border-radius: 8px;
          min-height: 100px;
          min-width: 300px;

          .comment-heading {
            font-weight: 600;
            padding-top: 10px;
            color: #1D1C1D;
          }

          .comment {
            padding: 10px 0;
            font-weight: 400;
            color: #1D1C1D;
          }
        }

        .data-label-value {
          margin-bottom: 0;

          .data-label {
            color: #212B36;
            font-weight: $font-weight-bolder;
          }

          &.mode_of_payment {
            margin-bottom: 11px;

            .data-value {
              font-weight: $font-weight-bolder;
              font-size: 1.7143rem;
              margin-left: 10px;

            }
          }


        }
      }

      .add-new-invoice__payment__block {
        width: 300px;
        float: right;

        .add-new-invoice__payment__block__row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;
          align-items: center;

          .add-new-invoice__payment__block__row__title {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #1D1C1D;
          }

          .add-new-invoice__payment__block__row__value {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #1D1C1D;
          }

          &.discount {
            .add-new-invoice__payment__block__row__value {
              color: #1D1C1D;
              font-weight: 400;
            }
          }

          &.subtotal {
            .add-new-invoice__payment__block__row__value {
              color: #1D1C1D;
              font-weight: 400;
            }
          }

          &.grand {
            margin-top: 26px;

            .add-new-invoice__payment__block__row__title {
              color: #1D1C1D;
              font-weight: 600;
            }

            .add-new-invoice__payment__block__row__value {
              font-size: 14px;
              font-weight: 600;
              color: #1D1C1D;
            }
          }

          &.date {
            margin-top: 6px;

            .add-new-invoice__payment__block__row__title {
              color: #1D1C1D;
              font-weight: 400;
            }

            .add-new-invoice__payment__block__row__value {
              font-size: 14px;
              font-weight: 400;
              color: #1D1C1D;
            }
          }
        }
      }
    }

    .billing-treatment-card, .billing-products-card {
      border: none;
      border-radius: 0;

      .table-component {
        .t-table-wrapper {
          .t-cell-amount {
            padding-right: 24px !important;
          }
        }
      }

      .card-body {
        padding: 0;
      }
    }
  }
}
