.all-message-history-component {

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #275778;
    height: 10px;
  }

  .message-history-board {
    height: calc(100vh - 150px);
    border: 1px solid #CECECE;
    border-radius: 10px;
    margin-top: 10px;
    overflow: auto;


    .time-stamp {
      color: #7E7E7E;
      font-weight: 500;
      font-size: 0.85714rem;
      text-align: center;
      margin-top: 20px;

    }

    .history-message-wrapper {
      position: relative;

      .card-content {
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        position: absolute;
        width: 120px;
        height: 78px;
        //left: 180px;
        z-index: 2;
      }

      .copy-horizontal-icon {
        margin-left: 8px;
      }

      display: flex;
      align-items: center;
      column-gap: 10px;


      .history-message {
        display: inline-block;
        white-space: pre-wrap;
        color: #FFFFFF;
        background: #275778;
        margin-top: 20px;
        margin-left: 17px;
        line-height: 16px;
        margin-bottom: 20px;
        padding: 7px 25px;
        border-radius: 20px;
      }
    }
  }

  .no-message-text-wrapper {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: calc(100vh - 500px);
    color: #8B8E90;

  }

}