@import "src/assets/styles/common";

.medical-record-attachment-basic-details-card-component {
  .medical-record-attachment-remove-access-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 13px 15px;
    background-color: #FEF0BF;
    border: 1px solid #E7A933;
    border-radius: 6px;
    margin-bottom: 16px;
    .link-component{
      color:#1A222B;
      font-size: 14px;
      font-weight: 400;
    }

  }
  .medical-attachment-last-updated-on-wrapper {
    .data-value {
      margin-left: 10px;
      font-weight: $font-weight-bold;
      font-size: 1rem;
      letter-spacing: 0.5px;
      color: #212B36;
    }
  }

  .medical-record-attachment-basic-details-wrapper {
    .card-component{
      margin-bottom: 23px !important;
    }

    .medical-record-attachment-basic-details-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .medical-record-attachment-basic-details-name-status-wrapper {
        display: flex;
        align-items: center;

        .medical-record-attachment-basic-details-name {
          font-weight: 700;
          font-size: 1.4286rem;
          color: #212B36;
          margin-right: 10px;
        }

        .medical-record-attachment-basic-details-status {
          .MuiChip-root{
            width: 150px !important;
          }
        }
      }

      .medical-record-attachment-basic-details-actions {
        display: flex;
        align-items: center;
        column-gap: 15px;
      }
    }
  }
}
