.header-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%;

  .header-title {

  }

  .header-options {
    display: flex;
    align-items: center;

    .header-option {
      margin: 0 8px;

      &:hover {
        cursor: pointer;
      }

      &.profile {
        display: flex;
        align-items: center;

        .profile-dp-icon {
          height: 36px;
          width: 36px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .profile-name {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin: 0 5px;
          font-size: 12px;
          text-transform: capitalize;

          .profile-dropdown-icon {
            position: relative;
            top: -2px;
          }
        }
      }
    }
  }
}