@import "src/assets/styles/common";

.header-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%;

  .header-title-nav-back {
    display: flex;
    align-items: center;
    flex: 1;
    .header-title {
      font-weight: 700;
      letter-spacing: 0.5px;
      white-space: nowrap;
      overflow: hidden;
      font-size: 1.2857rem;
      text-overflow: ellipsis;
      text-transform: uppercase;
    }
  }

  .header-options {
    display: flex;
    align-items: center;

    .header-option {
      margin: 0 5px;

      &:hover {
        cursor: pointer;
      }

      &.profile {
        display: flex;
        align-items: center;

        .profile-dp-icon {
          height: 24px;
          width: 24px;
          border-radius: 50%;
          overflow: hidden;

          svg {
            height: 24px;
            width: 24px;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        .profile-name {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin: 0 5px;
          text-transform: capitalize;
          font-weight: 500;

          .profile-dropdown-icon {
            position: relative;
            top: -2px;
          }
        }
      }
    }
  }
}
