.payment-list-component {
  .t-tab-panel {
    margin: 0 0 0 0 !important;
  }
  .billing-stats-card{
    //padding: 0 8px !important;
  }

  .consolidation-switch-wrapper {
    display: flex;
    align-items: center;
    margin-top: -24px;
    margin-bottom: 3px;
    margin-left: 9px;

    .consolidation-switch-label-component {
      color: #212B36;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin-left: -10px;

      &.disabled {
        color: #212B36;
        opacity: 0.3;
      }
    }
  }

  .t-tabs-wrapper {
    height: calc(100vh - 240px);
  }

  .t-table-wrapper {
    height: calc(100vh - 420px) !important;

    .t-table {
      min-height: calc(100vh - 420px) !important;
      .t-cell-select{
        padding-left: 30px!important;
      }
      .t-cell-receipt_no{
        padding-left: 30px!important;
      }
      .t-cell-action{
        padding-right: 29px!important;
      }
      .table-no-data-wrapper {
        min-height: calc(100vh - 500px) !important;
      }
    }
  }

  .t-tabs-wrapper {
    height: calc(100vh - 280px) !important;
  }

  .t-tab-panel {
    padding: 0 !important;
  }

  .t-table-wrapper .t-table {
    height: calc(100vh - 420px) !important;



  }

  .search-component {
    margin-left: -10px !important;
  }

  .payment-details-tab {
    font-size: 1rem;
  }

  .no-show {
    background-color: #EFEFEF;
    color: #717171;
  }

  .products {
    background-color: #E8F2FF;
    color: #1C5EDE;
  }

  .waived {
    background-color: #FFF7EA;
    color: #DE561C;
  }

  .cancellation {
    background-color: #FFE2E9;
    color: #DE1C4E
  }
}
