.default-message-component {
  .news-update-text {
    color: #6D6D6D;
    //margin-bottom: 15px;
    margin-bottom: 24px;
  }
  .MuiPaper-elevation{
    box-shadow: none;
    border: 1px solid #E7E7E7;
  }
  .MuiAccordionSummary-gutters {
    background-color: #EAF3F2;
    //border-radius: 5px;
  }
  .MuiCollapse-wrapperInner{
    padding: 24px;
      .MuiAccordionDetails-root{
        padding: 0px !important;
    }
  }

  .MuiAccordionSummary-content {
    color: #212B36;
    font-weight: 500;
    font-size: 1.1429rem;
  }
    .MuiAccordionDetails {
      padding: 24px;
    }
  .enter-message-text {
    color: #6D6D6D;
    padding: 0px !important;
    margin-bottom: 15px;
  }
  .default-message-box{
    margin-bottom: 24px;
  }

  .t-form {
    .t-form-actions {
      margin-top: 0px;
      margin-bottom: 0px;
     .submit-cta{
       margin-left: 16px;
     }
    }
  }
}