@import "src/assets/styles/common";

.book-appointment-form-component {
  display: flex;
  flex: 1;
  flex-direction: column;
  .book-appointment-heading{
    font-size: 1.2857rem;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .drawer-header {
    justify-content: end !important;
  }

  .appointment-form-wrapper {
    flex: 1;
    display: flex;

    .t-form {
      flex: 1;
      display: flex;
      flex-direction: column;

      .t-appointment-drawer-form-controls {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
    .booking-form-action{
      margin-top: 27px;
    }
  }
}
