@import "src/assets/styles/common";

.basic-details-card {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 0px #D1D1D1;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  padding: 27px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .basic-details-card-avatar {

  }

  .basic-details-card-meta {
    margin: 0 20px;
    flex: 1;

    .basic-details-card-legend-name-status {
      display: flex;
      flex-direction: column;

      .basic-details-card-legend {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
        color: #7F7F7F;
        margin-bottom: 8px;
      }


      .basic-details-card-name-status {
        display: flex;
        align-items: center;

        .basic-details-card-name {
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.5px;
          color: #1D1C1D;
          margin-right: 10px;
        }

        .basic-details-card-status {

        }
      }

    }

    .basic-details-card-description {
      letter-spacing: 0.5px;
      color: #1D1C1D;
      margin-top: 10px;
    }
  }

  .basic-details-card-actions {
    display: flex;
  }
}