.user-personal-details-edit-component {
  .edit-user-heading {
    color: #275778;
    font-size: 20px;
    font-weight: 700;
    //text-transform: uppercase;
    margin-bottom: 24px;
  }

  .MuiAutocomplete-tag {
    background: #2CA091 !important;
    color: #FFFFFF;
    width: 180px !important;

    .MuiSvgIcon-root {
      color: #FFFFFF !important;
    }
  }

  .card-component {
    padding-bottom: 4px !important;

    .card-body {
      .link-component {
        float: right !important;
        color: #D26060;
      }
    }
  }

  .form-control-label-component {
    margin-bottom: 12px;
  }

  .signature-heading {
    color: #1D1C1D;
  }

  .t-form-actions {
    margin-top: 30px !important;
    margin-bottom: 24px !important;

    .submit-cta {
      margin-left: 16px;
    }
  }

  .user-signature {
    .e-sign-image-container {
      height: 190px;
    }
  }
}
