.attachment-wrapper {
  .card-component {
    background: #DFF6F3 !important;
    border: 1px solid #2CA091 !important;
  }

  .attachment-component {
    display: flex;
    justify-content: space-between;
    //background: #EAF3F2;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 20px;

    .attachment-thumbnail {
      .file-preview-thumbnail-component {
        padding: 0;
        margin-bottom: 0;
        background: inherit;
        border: none !important;
        box-shadow: none !important;
      }
    }

    .attachment-actions {
      button {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
