@import "src/assets/styles/common";

.service-category-details-screen {
  //.facility-opening-hours {
  //  width: 550px;
  //  display: inline-block;
  //  border: 1px solid #F3F3F3;
  //  border-radius: 4px;
  //
  //  .facility-hours-header{
  //    display: flex;
  //    justify-content: space-between;
  //    align-items: center;
  //    height: 56px;
  //    background-color: #E1EBEA;
  //  }
  //
  //  .data-label-value {
  //    flex-direction: row;
  //    border-top: 1px solid #F3F3F3;
  //    padding-top: 17px;
  //    padding-left: 24px;
  //
  //    .data-label {
  //      width: 133px;
  //      padding-left: 20px;
  //    }
  //
  //    .data-value {
  //      width: 370px;
  //      font-weight: $font-weight-normal;
  //      align-items: center;
  //      margin-left: 50px;
  //      margin-right: 24px;
  //      padding-left: 140px;
  //
  //    }
  //  }
  //}

  .facility-details-information {
    .data-label-value {
      .data-label {
        margin-bottom: 6px;
      }
    }
  }

  //.therapy-service-chip {
  //  color: #EAF3F2;
  //}

  .facility-opening-hours-closed-text {
    //width: 48px;
    font-weight: $font-weight-bolder;
    //margin-left: 30px;
    color: $warn-color;
  }

  .operating-hours-wrapper {
    //height: 380px;
    margin-bottom: 0px !important;
    padding-bottom: 24px;
  }

  .facility-opening-hours-table-wrapper {
    display: flex;
    border: 1px solid #E7E7E7;

    .weeks-days-table-header {
      //width: 554px;
      height: 56px;
      background: #E1EBEA;
      display: flex;

      .week-days-timing-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        //margin-bottom: 18px;

        .week-days-heading {
          margin-left: 40px;
          font-weight: 500;
          font-size: 1.1429rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          //margin-top: 18px;
          //padding: 17px;
          flex: 1;
        }

        .timing-heading {
          //margin-right: 140px;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.1429rem;
          flex: 2;
          //margin-top: 18px;
          //padding: 17px;
        }
      }
    }

    .weeks-days-table-container {
      //width: 554px;
      border-bottom: 1px solid rgb(231, 231, 231);


      //&.right-container {
      //  //border-left: 1px solid rgb(231, 231, 231) !important;
      //}
      &.left-container{
        border-right: 1px solid rgb(231, 231, 231) !important;
      }

      .horizontal-line-wrapper {
        margin-bottom: 0px;
        margin-top: 0px;
        //border-bottom: 1px solid #e7e7e7;

      }

      .data-label-value {
        flex-direction: row;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 24px;
        margin-bottom: 0px;
        display: flex;

        .data-label {
          //width: 133px;
          //padding-left: 20px;
          color: #212B36;
          font-weight: 500;
          flex: 1;
          margin-left: 16px;
        }

        .data-value {
          //width: 370px;
          flex: 2;
          font-weight: $font-weight-normal;
          align-items: center;
          display: flex;
          justify-content: center;

        }
      }
    }

    .column-right, .column-left {
      flex: 1;
    }

    .column-right {
      .weeks-days-table-container {
        border-left: none;
        border-right: none;

        &:first-child {
          border-top: none;
        }

        &:first-child {
          border-bottom: none;
        }
      }
    }

    .column-left {
      .weeks-days-table-container {
        border-left: none;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  //
  //.therapy-and-performance-training-wrapper {
  //  display: inline-block;
  //  width: 100%;
  //
  //
  //  .data-label-value {
  //    flex-direction: row;
  //    margin-top: 23px;
  //    margin-bottom: 23px;
  //
  //    .data-label {
  //      width: 20%;
  //    }
  //
  //    .data-value {
  //      width: 80%;
  //      padding-left: 10px;
  //      font-weight: $font-weight-normal;
  //      margin-left: 20px;
  //    }
  //  }
  //
  //  .chip-component {
  //    margin-right: 10px;
  //  }
  //}
}
