.user-basic-details-component {
  .client-basic-details-component {
    .education-details-card{
      .card-component{
        margin-bottom: 0px !important;
      }
    }
    .user-details-horizontal-line {
      border-bottom: 1px solid #CECECE;
        margin-bottom: 10px !important;
    }
    .signature-heading{
      font-weight: bold;
      margin-bottom: 12px;
    }
  }
  .prof-educational-no-data{
    margin-bottom: 11px;
  }
}