@import "src/assets/styles/common";

.client-medical-details-component {
  .card-component {
    padding-bottom: 4px;
  }

  .other-illness-heading {
    font-size: 14px;
    font-weight: 600;
  }

  .no-answer-text {
    font-weight: 500;
    color: #1D1C1D;;
  }

  .personal-habit-heading {
    color: #1D1C1D;
  }

  .other-illness-text {
    margin-bottom: 20px;
  }

  .musculoskeletal-history-block {
    align-items: center;

    .data-label-value {
      margin-bottom: 6px;
      justify-content: space-between;

      .data-label {
        font-weight: $font-weight-bolder;
        letter-spacing: 0.5px;
        color: #1D1C1D;;
      }

      .data-value {
      }
    }

    .question-component {
      margin-bottom: 0;
      color: #6D6D6D;
    }
  }

  .females-only-block {
    margin-bottom: 24px;

    .data-label-value {
      margin-bottom: 6px;
      justify-content: space-between;

      .data-label {
        margin-right: 100px;
      }

      .data-value {
        font-weight: $font-weight-bolder;
        color: $primary-color;
      }
    }
  }

  .musculoskeletal-question {
    color: #1D1C1D;
    word-break: break-word;
  }

  .allergies-na {
    margin-bottom: 20px;
    padding-bottom: 0px;

    &.text {
      margin-bottom: 24px;
    }
  }

  .musculoskeletal-na {
    margin-bottom: 0;
  }

  .medical-supplement-headings {
    margin-bottom: 12px;
    font-size: 14px;
    color: #1D1C1D;

  }
  .medical-supplement-answer-text{
    margin-bottom: 20px;
  }

  .musculoskeletal-card-body-table {
    border: 1px solid #E2E2E2;
    margin-bottom: 20px;

    .musculoskeletal-history-question-list {
      margin: 15px;

      .comments-section {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
