@import "src/assets/styles/common";

.client-medical-details-component {
  .other-illness-heading{
    font-size: 14px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 5px;
  }
  .other-illness-text{
    margin-bottom: 5px;
  }
  .musculoskeletal-history-block {
    margin-bottom: 20px;
    align-items: center;

    .data-label-value {
      margin-bottom: 6px;
      justify-content: space-between;

      .data-label {
        font-weight: $font-weight-bolder;
        letter-spacing: 0.5px;
        color: #212B36;
      }

      .data-value {
      }
    }

    .question-component {
      margin-bottom: 0;
      color: #6D6D6D;
    }
  }

  .females-only-block {
    .data-label-value {
      margin-bottom: 6px;
      justify-content: space-between;

      .data-label {
        margin-right: 100px;
      }

      .data-value {
        font-weight: $font-weight-bolder;
        color: $primary-color;
      }
    }
  }
  .musculoskeletal-question{
    color: #6D6D6D;
  }
  .musculoskeletal-question-na{
    color: #6D6D6D;
    padding-top: 10px;
    margin-left: 30px;
  }

}
