@import "src/assets/styles/common";

.musculoskeletal-history-block {
  margin-bottom: 20px;

  .data-label-value {
    margin-bottom: 6px;
    justify-content: space-between;

    .data-label {
      font-weight: $font-weight-bolder;
      letter-spacing: 0.5px;
      color: #212B36;
    }

    .data-value {
    }
  }

  .question-component {
    margin-bottom: 0;
    color: #6D6D6D;
  }
}