@import "src/assets/styles/common";

.add-medical-intervention-screen {
  .readonly-wrapper {
    margin-bottom: 15px;

    .readonly-text {
      margin-bottom: 10px;
    }

    .form-control-label-component {
      margin-bottom: 5px;
    }
  }
  .t-form{
    .s-o-a-wrapper{
      .card-component{
        padding-bottom: 4px;
      }
    }
    .clear-cta{
      display: flex;
      justify-content: end;

      color: #00534F;
    }
    .t-form-actions{
      margin-bottom: 0px;
    }
  }

  .intervention-clear-button {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .icd-codes-wrapper {
    margin-bottom: 20px;

    .icd-codes-heading {
      background: $primary-color;
      display: flex;
      padding-bottom: 5px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .form-control-label-component {
        margin-bottom: 0px !important;
      }
    }
  }

  .card-styling {
    .comment-row {
      display: flex;
      align-content: center;

      .comment-icon {
        margin-right: 17px;
      }
    }

    .card-component {
      margin-bottom: 0px !important;
    }

    &.white-card-header {
      & > .card-header {
        background: #FFFFFF !important;
      }
    }

    &.padding-card-10 {
      .card-body {
        padding: 10px;
      }
    }

    &.padding-card-5 {
      .card-body {
        padding: 5px;
      }
    }

    &.no-padding-card {
      .card-body {
        padding: 0;
      }
    }
  }

  .last-updated-status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    padding-bottom: 10px;
    margin-top: 5px;

    .last-updated-status-text {
      font-size: 14px;
      margin-top: 4px;
    }

    .last-updated-status-bold {
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
      margin-top: 4px;
    }

    .last-updated-status-status {
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .spin-item {
      animation-name: spin;
      animation-duration: 1600ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      /* transform: rotate(3deg); */
      /* transform: rotate(0.3rad);/ */
      /* transform: rotate(3grad); */
      /* transform: rotate(.03turn);  */
    }

    @keyframes spin {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
  }

  .range-of-motion-wrapper, .special-test-wrapper, .icd-codes-wrapper {
    margin-bottom: 20px;
    .rom-header, .special-test-header, .icd-codes-header {
      width: 100%;
      & > .card-header {
        background: #FFFFFF !important;
        padding: 16px;
      }
      //& > .card-component {
      border: 1px solid #ABB6BE;
      border-radius: 5px;
      overflow: hidden;
      //}
      .t-table-wrapper{
        .t-table {
          border: none !important;
          min-height: max-content !important;
        }
      }
    }

    .card-body {
      padding: 0 !important;

      .card-component {
        border-radius: 0;
      }
    }
  }

  .rom-special-test-icd-11-cta {
    height: 68px;
   justify-content: flex-start;
    padding-left: 13px;
  }
}
