@import "src/assets/styles/common";

.sub-menu-list-component {

  .sub-menu-wrapper {
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    min-width: 216px;

    .sub-menu {
      display: flex;
      flex-direction: column;
      padding: 6px;

      .sub-menu-item {
        padding: 12px 20px;
        letter-spacing: 0.5px;
        color: $text-light-2;
        border-left: 4px solid transparent;
        border-radius: 4px;
        margin-bottom: 2px;

        &.active {
          border-left-color: $primary-color;
          color: $primary-color;
          font-weight: $font-weight-bolder;
          background: #ECF7FF;
          border-radius: 8px;
        }

        &:hover {
          cursor: pointer;
          color: $primary-color;
          background: #ECF7FF;
        }
      }
    }
  }

}
