.view-exercise-log-component {
  .t-table-wrapper{
   .t-table{
    min-height: max-content !important;
    .table-no-data-wrapper{
      background: #FFFFFF;
      min-height: 100px;
    }
   }
  }
  .comments-wrapper{
    .card-component{
      margin-bottom: 0 !important;
    }
  }
  .details-card-wrapper{
    width: 100%;
    .card-component{
     background: #D6F0DE;
    }
  }
  .client-name-button-wrapper {
    display: flex;
    justify-content: space-between;

    .client-name-wrapper {
      font-size: 1.4286rem;
      font-weight: 700;

      .client-name {
        padding-right: 10px;
      }
    }
  }
  .attachment-card-wrapper{
    padding-bottom: 24px;
    .MuiChip-root{
      width: 150px !important;
      .MuiChip-label{
        text-decoration: underline;
      }

    }
  }
  .exercise-log-table-wrapper{
    .t-table-wrapper {
      .t-table {
        min-height: max-content !important;
      }
    }
  }

  .horizontal-line{
    border-bottom: 2px solid #A5A5A5;
    margin-top: 30px;
  }
  .ts-row{
    .print-button-wrapper{
      display: flex;
      justify-content: end;
      margin-left: -40px !important;

    }
  }
}