.date-picker-component-wrapper {
  margin-bottom: 20px !important;
  border-radius: 8px !important;
  background-color: #FFFFFF;

  .MuiSvgIcon-root {
    color: #275778 !important;
  }

  &.full-width {
    width: 100%;
  }

}

.MuiCalendarPicker-root {
  .MuiYearPicker-root {
    transform: rotate(180deg);

    .PrivatePickersYear-root {
      transform: rotate(180deg);
    }
  }
}