.date-picker-component-wrapper {
  margin-bottom: 20px !important;

  &.full-width {
    width: 100%;
  }

}

  .MuiCalendarPicker-root {
    .MuiYearPicker-root {
      transform: rotate(180deg);

      .PrivatePickersYear-root {
        transform: rotate(180deg);
      }
    }
  }