.client-basic-details-form-component {
  .t-form {
    .alias-name-check-box {
      margin-top: -10px;
      margin-bottom: 10px;
      margin-left: -10px;

      .MuiFormControlLabel-root {
        display: flex;
        flex-direction: unset;
        color: #275778;
      }

      .MuiCheckbox-colorPrimary {
        color: #275778;
      }
    }

    .card-component {
      padding-bottom: 4px;
    }

    .add-client-heading {
      font-weight: 700;
      font-size: 20px;
      color: #275778;
      margin-bottom: 20px;
    }

    .contact-info-sub-heading {
      margin-bottom: 12px;
      color: #212B36;
    }


    .primary-phone-divider {
      border: 1px solid #CECECE;
    }

    .alternate-phone-divider {
      border: 2px solid #CECECE;
    }
    .horizontal-divider{
      margin-top: 4px !important;
    }

    .remove-contact-button {
      margin-bottom: 20px;
      margin-left: 20px;
      align-items: center;
    }

    .secondary-emergency-divider {
      border: 2px solid #CECECE;
      margin-top: 24px;
    }

    .emergency-info-main-heading {
      font-weight: 700;
      font-size: 16px;
      color: #212B36;
      margin-bottom: 20px;
      text-decoration: underline;
    }

    .t-form-actions {
      margin-top: 30px;
      margin-bottom: 0px;

      .submit-cta {
        margin-left: 12px;
      }
    }

    .add-another-contact-cta {
      margin-bottom: 24px;
    }
  }

}
