.client-basic-details-form-component{
  .t-form{
    .add-client-heading{
      font-weight: 700;
      font-size: 1.4286rem;
      color: #00534F;
      margin-left: 30px;
      margin-bottom: 20px;
    }
    .primary-phone-divider{
      border:1px solid #CECECE;
    }
    .alternate-phone-divider{
      border:2px solid #CECECE;
    }
    .remove-contact-button{
      margin-bottom: 24px;
      margin-left: 20px;
      align-items: center;
    }
    .secondary-emergency-divider{
      border:2px solid #CECECE;
    }
    .t-form-actions{
      margin-top: 30px;
      margin-bottom: 0px;
    }
  }

}