.t-cell-client_id{
  text-align: center !important;
}
.t-cell-name{
text-align: center !important;
}
.t-cell-primary_contact_info{
  text-align: center !important;
}
.t-cell-last_appointment_date{
  text-align: center !important;
}
.t-cell-last_provider{
  text-align: center !important;
}
.t-cell-status{
  text-align: center !important;
}