.appointment-settings-remainder-component {
  .appointment-confirmation-card {
  padding-bottom: 24px;
  }
  .question-component{
    .question-title{
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
}