.appointment-settings-remainder-component {
  height: calc(100vh - 600px);
  .appointment-confirmation-card {
  padding-bottom: 24px;
  }
  .question-component{
    .question-title{
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
}