.thank-you-note-component {
  .thank-you-note-wrapper {
    padding-top: 53px;

    .alert-error {
      display: flex;
      flex-direction: row-reverse;
      color: #FF6767;
      font-weight: 500;
      font-size: 0.85714rem;
      float: end;
      margin-left: 200px;
      margin-top: -20px;
      margin-bottom: 20px;
    }

    .no-alert {
      display: flex;
      flex-direction: row-reverse;
      color: #7F7F7F;
      font-weight: 500;
      font-size: 0.85714rem;
      //margin-top: -10px;
      margin-bottom: 20px;

    }

    .enter-message-text {
      color: #7F7F7F;
      padding: 0px !important;
      margin-bottom: 12px;
    }

    .default-message-box {
      .footer-heading {
        color: #212B36 !important;
      }
    }

    .MuiSvgIcon-root {
      color: #275778;
    }

    .MuiPaper-elevation {
      box-shadow: none;
      border: 1px solid #E2E2E2;
    }

    .MuiAccordionSummary-gutters {
      background-color: #ECF7FF;
      border-radius: 8px;
    }

    .MuiCollapse-wrapperInner {
      padding: 24px;

      .MuiAccordionDetails-root {
        padding: 0px !important;
      }
    }

    .MuiAccordionSummary-content {
      color: #212B36;
      font-weight: 500;
      font-size: 1.1429rem;
    }

    .MuiAccordionDetails {
      padding: 24px;
    }
  }
}