@import "src/assets/styles/common";

.medical-intervention-linked-to-component {
  .data-label-value.row .data-label{
    margin-left: 0px !important;
  }
  .medical-record-injury-details-wrapper {

    .data-label {
      margin-left: 0;
    }

    .data-value {
      display: flex;
    }

    .medical-record-injury-details {
      font-size: 1rem;
      margin-right: 10px;
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;

      @include md(){
        max-width: 300px;
      }

      @include lg(){
        max-width: 400px;
      }
    }

    .medical-record-injury-details-view-all-body-parts {
      font-size: 1rem;
      color: $primary-color;
      text-decoration: underline;
      cursor: pointer;
      font-weight: $font-weight-bolder;
    }
  }

}
