@import "src/assets/styles/common";

.help-module-layout {
  display: flex;
  margin-top: 4px;

  .help-module-layout-left-bar {
    .help-module-layout-title {
      font-weight: $font-weight-bolder;
      letter-spacing: 0.5px;
      color: #275778;
      font-size: 18px;
      margin-bottom: 24px;
    }
  }

  .help-module-content-wrapper {
    padding: 0 0 0 15px;
    flex: 1;
  }

}