
.client-search-component {

  .card-component {
    padding-bottom: 24px !important;
    margin-bottom: 0 !important;
    height: calc(100vh - 120px) !important;

  }

  .client-search-input {
    background-color: #FFFFFF;;
  }

  .list-content-wrapper {
    .t-cell-client_id{
      padding-left: 20px !important;
    }
    .table-no-data-wrapper {
      min-height: calc(100vh - 293px)
    }

    .t-table-wrapper {
      .t-table {
        min-height: 300px;
        height: calc(100vh - 300px);
      }
    }
  }

  .client-search-card {
    .client-search-logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 500px;
      max-height: 100%;
      flex-direction: column;
    }

    .client-search-label {
      font-size: 1.5714rem;
      color: #8B8E90;
    }
  }

}
