@import "src/assets/styles/common";

.chart-notes-details-screen {

  .client-details-header {
    display: flex;
    align-items: center;
    margin: 5px 0 25px;
    height: 30px;

    .client-details-title {
      font-weight: $font-weight-bolder;
      font-size: 20px;
      line-height: 16px;
      letter-spacing: 0.5px;
      color: $text-light-2;
      width: 233px; // TODO refactor
    }

    .client-details-filters-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;

      .ts-row {
        flex: 1;
      }

      .input-component {
        margin-bottom: 0 !important;
      }

      .select-component {
        margin-bottom: 0 !important;
      }
    }
  }

  .client-details-layout {
    display: flex;

    .client-details-basic-card-holder {
      margin-bottom: 6px;
      padding: 0 15px 0 0;
      flex: 0;


    }

    .client-details-tab-wrapper {
      overflow-x: clip;
      flex: 1;
    }
  }

  .medical-record-alert {
    &.high {
      color: #FD0000;
    }

    &.medium {
      color: #FA9C2F;
    }
  }

  .client-details-tab-wrapper {
    .t-cell {
      text-align: center !important;
    }

    .t-cell-body-part {
      white-space: nowrap;
    }

  }
}
