@import "src/assets/styles/common";

.service-category-list-screen {

  .service-category-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .service-category-list-filters {
      flex: 1;
    }

    .service-category-list-options {
      flex: 0;
      white-space: nowrap;
    }
  }

  .service-category-list-wrapper {
    padding-top: 9px;
    display: flex;

    .card-loading {
      display: flex;
      width: 100%;
      min-height: 400px;
      justify-content: center;
      align-items: center;
    }

    .card-component{
      display: flex;
    }

    .service-category-list {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 5px;

      .ts-row {
        flex: 1;
      }
    }
  }
}
