@import "src/assets/styles/common";

.service-category-list-screen {
  .card-component{
      margin-bottom: 0px !important;
  }

  .service-category-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .service-category-list-filters {
      flex: 1;
    }

    .service-category-list-options {
      flex: 0;
      white-space: nowrap;
      margin-bottom: 5px !important;
    }
  }

  .service-category-list-card {
    min-height: 550px;

    .service-category-list-wrapper {
      padding-top: 6px;

      .loading-and-failed-message-wrapper {
        min-height: 550px;
      }

      .service-category-list {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5px;

        .ts-row {
          flex: 1;
        }
      }
    }
  }
}
