@import "src/assets/styles/common";

.add-new-receipt-screen {
  .add-receipt-title {
    color: #00534F;
    font-size: 1.2857rem;
    font-weight: 700;
    margin-bottom: 20px;

  }

  .t-form {
    background-color: #ffffff;
    padding: 24px;
    border: 1px solid #ECECEC;

    .alert-error {
      display: flex;
      flex-direction: row-reverse;
      color: #FF6767;
      font-weight: 500;
      font-size: 0.85714rem;
      float: end;
      margin-left: 200px;
      margin-top: -10px;
      margin-bottom: 24px;
      &.invalid-amount{
        font-size: 14px!important;
        margin-top: -5px!important;
      }
    }

    .no-alert {
      display: flex;
      flex-direction: row-reverse;
      color: #83909D;
      font-weight: 500;
      font-size: 0.85714rem;
      margin-top: -10px;
      margin-bottom: 24px;

    }


    .add-client-btn {
      margin-bottom: 24px;
    }

    .billing-address-wrapper {
      //display: flex;
      //justify-content: space-between;
      margin-bottom: 20px;

      .billing-address-block {


        &.from {
          text-align: start;

          .billing-address-block__header {
            justify-content: flex-start;
          }
        }

        &.to {
          //text-align: end;

          .billing-address-block__header {
            //justify-content: center;
            //margin-left: 32px;
          }
        }

        .billing-address-block__header {
          display: flex;

          .billing-address-block__title {
            font-weight: 600;
            line-height: 19px;
            color: #6D6D6D;
            margin-bottom: 8px;
          }

        }

        .billing-address-block__details {

          .billing-address-block__detail__row {
            font-weight: 400;
            line-height: 19px;
            color: #6D6D6D;

            &.name {
              font-weight: 700;
              line-height: 19px;
              color: #212B36;
              margin-bottom: 8px;
            }

          }
        }
      }
    }
  }

  .add-new-receipt__comments__payment__block__wrapper {
    background: #EAF3F2;
    padding: 24px 24px 10px;


    .add-new-receipt__payment__block {
      width: 300px;
      float: right;

      .add-new-receipt__payment__block__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        align-items: center;

        .add-new-receipt__payment__block__row__title {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #6D6D6D;
        }

        .add-new-receipt__payment__block__row__value {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #212B36;
        }

        &.grand {
          .add-new-receipt__payment__block__row__title {
            color: #212B36;
            font-weight: 600;
          }

          .add-new-receipt__payment__block__row__value {
            font-size: 24px;
          }
        }
      }
    }
  }
}

.products-block {
  .products-block-wrapper {
   .t-table-wrapper{
     .t-table{
       min-height: fit-content !important;
       .t-cell-units,.t-cell-discount{
         .input-component{
           input {
             text-align: center !important;
           }
         }
       }
     }
   }

    .t-tr {
      //padding-top: 5px !important;
      .t-td {
        height: auto !important;
        min-height: 52px;
      }
    }

    .t-th.t-cell.t-cell-item {
      padding-left: 17px !important;
    }

    .products-block-add-more {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .product-available-quantity {
    font-weight: $font-weight-bold;
    margin-left: 15px;
    white-space: nowrap;
  }

}

.client-search-table-wrapper, .provider-search-table-wrapper {
  height: calc(100vh - 315px);

  .client-list-heading {
    font-weight: $font-weight-bolder;
    line-height: 19px;
    font-size: 16px;
    color: #6D6D6D;
    margin-bottom: 20px;
  }

  .t-table-wrapper {
    height: calc(100vh - 310px);
    .table-no-data-wrapper{
      min-height: 300px!important;
    }
  }

}

.select-billing-address {
  height: calc(100vh - 190px);
  overflow: auto;

  .select-address-card {
    border: 1px solid #ABB6BE;
    border-radius: 4px;
    margin-bottom: 24px;
    width: 465px;


    .select-address-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 4px;
      background: #F2F6F6;
      height: 40px;

      .btn-heading-wrapper {
        display: flex;
        align-items: center;
        padding-left: 17px;

        .card-heading {
          color: #212B36;
          font-weight: 500;
          margin-left: -5px;
        }
      }
    }
  }
}

.select-cta {
  width: 465px;
}

