@import "assets/styles/common";

html, body{
  font-size: 14px;
  font-family: $font-family, sans-serif;
  //@include md() {
  //  font-size: 12px;
  //}
  //
  //@include lg() {
  //  font-size: 14px;
  //}


}

body {
  margin: 0;
  font-family: $font-family, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body-color;
  background: $body-background-color;
}
