@import "src/assets/styles/common";

.appointment-details-component-drawer {
  .drawer-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    .drawer-body {
      display: flex;
      flex: 1;
    }
  }
}

.appointment-details-component {
  display: flex;
  flex: 1;
  flex-direction: column;

  .modal-title {
    font-weight: 700;
    font-size: 20px;
    color: #212B36;
    margin-bottom: 15px;
  }


  .appointment-details-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    .drawer-header {
      display: flex;
      justify-content: end;
    }

    .appointment-details-heading {
      font-size: 1.4286rem;
      font-weight: 500;
      margin-bottom: 24px;
    }

  }


  .status-block {
    border-radius: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .status-info {
      display: flex;
      align-items: center;
      color: #212B36;
    }

    .status-text {
      font-style: italic;
      font-weight: bold;
      text-transform: capitalize;
    }

    &.no_show {
      background: #EFEFEF;
      color: #717171;
    }

    &.scheduled {
      background: #E8F2FF;
      color: #1C5EDE;
    }

    &.upcoming {
      background: #FFF7EA;
      color: #DE561C;
    }

    &.engaged {
      background: #BDE8CA;
      color: #00534F;
    }

    &.completed {
      background: #F5F7F8;
      color: #7583A6;
    }

    &.cancelled {
      background: #FFE2E9;
      color: #DE1C4E;
    }
  }

  .details-header {
    .block-body {
      display: flex;
      flex-direction: row;

      .block-content {
        flex-direction: row;
        display: flex;
        align-items: center;
        color: #83909D;
        justify-content: center;
        flex: 0;
        margin-right: 2px;
        white-space: nowrap;

        .content-title {
          margin-left: 10px;
          margin-right: 32px;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #83909D;
        }
      }
    }
  }

  .details-box {
    margin: 24px 0;
    border: 1px solid #E7E8EA;

    .details-header {
      background: #F2F6F6;
      padding: 12px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      padding-left: 17px;

      .form-heading {
        margin-right: 210px;
      }
      .status-heading{
        margin-right: 43px;
      }
    }

    .details-body-block {
      border-top: 1px solid #E7E8EA;

      .details-body-item {
        display: flex;
        .item-heading {
          flex: 1;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          color: #83909D;
          padding: 9px;
          margin-left: 10px;
        }

        .item-value {
          padding: 9px;
          flex: 1;
          font-weight: 400;
          font-size: 14px;
          //line-height: 16px;
          //display: flex;
          //align-items: center;
          color: #212B36;

          .unpaid {
            color: #DE1C4E;
            background-color: #FFE2E9;
          }

          .paid {
            color: #00534F;
            background-color: #BDE8CA;
          }

          &.green {
            color: #37A850 !important
          }

          &.red {
            color: #CB6100 !important;
          }
        }
      }
    }
  }
  .details-box-bottom {
  margin-bottom: 50px;
    border: 1px solid #E7E8EA;
    .details-header {
      background: #F2F6F6;
      padding: 12px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      padding-left: 24px;

      .form-heading {
        margin-right: 210px;
      }
      .status-heading{
        margin-right: 43px;
      }
    }

    .details-body-block-bottom {
      border-top: 1px solid #E7E8EA;

      .details-body-item {
        display: flex;
        justify-content: space-between;

        .item-heading {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          color: #83909D;
          padding: 9px;
          margin-left: 15px;
        }

        .item-value {
          padding: 9px;
          font-weight: 400;
          font-size: 14px;
          //line-height: 16px;
          //display: flex;
          //align-items: center;
          color: #212B36;
          margin-right: 43px;

          .unpaid {
            color: #DE1C4E;
            background-color: #FFE2E9;
          }

          .paid {
            color: #00534F;
            background-color: #BDE8CA;
          }

          &.green {
            color: #37A850 !important
          }

          &.red {
            color: #CB6100 !important;
          }
        }
      }
    }
  }

  .checkin-confirmation-status {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .checkin-confirmation-status-icon {
      background-position: center center;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;

      svg {
        width: 200px;
        height: 200px;
        color: #003E3B;

        path {
          opacity: 1;
        }
      }
    }

    .checkin-confirmation-status-text {
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      line-height: 38px;
      margin-top: 40px;
      color: #000000;

    }

    .check-box-component {
      font-weight: bold;
      margin-top: 10px;
    }
  }

  .action-buttons {
    display: flex;
    flex-direction: row;

    .MuiButton-root {
      margin-left: 15px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
