@import "animations";
@import "variables";
@import 'react-toastify/dist/ReactToastify.css';
@import "fonts";

@import "helpers";
@import "mixins";
@import "responsive-mixins";
@import "responsive-display";
@import "normalize";

// components
@import "components/button";
@import "components/loader";
@import "components/form-controls";
@import "components/scrollbar";
@import "components/table";
@import "components/attachments";
@import "components/modal";
@import "components/card";
@import "components/drawer";
@import "components/tabs";
@import "components/list-screen";
@import "components/grid";
@import "components/drop-down-menu";

.app-version {
  font-size: 10px;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.auth-layout {
  width: 100vw;
  height: 100vh;
  background: url("./../../assets/images/auth-bgr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .logo-wrapper {
    height: auto;
    width: 160px;
    position: absolute;
    top: 30px;
    left: 15px;

    img {
      width: 100%;
      height: 100%;
    }


    @include lg() {
      top: 30px;
      left: 70px;
    }
  }

  .auth-wrapper {
    width: 350px;
    background: #fff;
    flex: 1 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    position: absolute;
    padding: 20px;

    @include sm() {
      width: 400px;
    }

    @include md() {
      width: 400px;
      padding: 20px 40px;
    }

    @include lg() {
      padding: 40px 30px;
      left: unset;
      transform: translateY(-50%);
      width: 500px;
      right: 130px;
    }

    .auth-form {

      @include display-center();
      flex-direction: column;

      .auth-form-title {
        font-size: 24px;
        font-weight: $font-weight-bold;
        margin: 10px 0 30px 0;
        text-align: left;
      }

      .auth-form-sub-title {
        //text-align: center;
        margin: 30px 0;
        color: $black;
        opacity: 0.5;
      }
    }

  }
}

.app-layout {

  display: flex;

  .side-bar-holder {
    width: #{$side-bar-holder-width}px;
    min-width: #{$side-bar-holder-width}px;
    height: 100vh;
    background: linear-gradient(to bottom, #275778, #50B8B7);
    position: relative;

    .logo-holder {
      height: #{$branding-holder-height}px;
      background: $branding-holder-bg-color;
      border-bottom: $branding-holder-border;
      @include display-center();
    }

    .side-menu-holder {
      margin: 20px 0;
    }

    &.default-view {
      transition: 0.1s ease;

      .logo-sm {
        display: none;
      }
    }

    &.compact-view {

      width: 48px;
      min-width: 48px;
      transition: 0.2s ease;

      .logo-default {
        display: none;
      }

      .menu-item {
        @include display-center();
        margin: 2px;
        padding: 8px;

        .menu-item-icon {
          margin: 2px;
        }
      }

      .menu-item-title {
        display: none;
      }

      .branding-component {
        width: 20px;
        height: auto;
      }
    }

    .side-menu-toggle-icon {
      position: absolute;
      bottom: 120px;
      right: -18px;
      background: #fff;
      padding: 5px;
      border-radius: 50%;
      display: flex;
      border: 1px solid #E1E1E1;
      box-shadow: 0 4px 4px rgb(0 83 79 / 23%);
      cursor: pointer;
      color: $side-bar-toggle-icon-color;
    }
  }

  .header-and-page-container {
    overflow: hidden;
    flex: 1;

    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #275778; /* Set a color for the scrollbar handle */
      border-radius: 8px; /* Add rounded corners to the scrollbar handle */
    }

    .header-holder {
      height: $header-height + px;
      width: 100%;
      background: $header-bg-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    }

    .page-content-holder {
      background-color: $page-content-bg-color;
      background-image: url("../../assets/images/background.png");
      background-size: cover;
      background-position: center;
      padding: 30px;
      height: calc(100vh - #{$header-height}px);
      overflow-x: hidden;
      overflow-y: auto;
    }

    .page-content-holder:has(.no-internet-component) {
      //background:#FFF;
      background: url("./../../assets/images/semi_circled_rectangle.svg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: auto 60%;
      @include xl() {
        background-size: auto 70%;
      }
    }
  }
}

.icon-button {
  cursor: pointer;
}

.h-v-center {
  @include display-center();
}

.clear-fix {
  clear: both;
}

.horizontal-line {
  border-bottom: 1px solid black;
  opacity: 0.2;
  margin: 15px 0 30px 0;
}

.vertical-line {
  border-left: 1px solid black;
  opacity: 0.2;
  margin: 15px 0 30px 0;
}

.height-100 {
  height: 100%;
}

.t-drawer {

  .MuiDrawer-paper {

    padding: 20px;
    min-width: 546px;

    .drawer-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .drawer-title {
        font-size: 24px;
        font-weight: 700;
      }

      .drawer-options {

      }
    }

    .drawer-body {
      padding: 10px 0;
    }
  }

}

.update-stock-modal {
  .modal-content-wrapper {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-body {
      width: 300px;
    }
  }
}

.notify-admin-modal {
  .modal-content-wrapper {
    width: 444px;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-body {
      width: 400px;
    }

    .form-control-label-component {
      .form-control-label {
        font-size: 16px;
      }
    }
  }
}

.edit-intervention-date-modal {
  .modal-content-wrapper {
    width: 444px;
  }
}

.all-body-body-parts-heading {
  .modal-content-wrapper {
    width: 590px;

    .modal-body {
      .modal-header {
        .modal-title {
          font-size: 16px;
          font-weight: 700;
        }
      }

      .t-table-wrapper {
        .t-table {
          min-height: calc(100vh - 490px);
          max-height: calc(100vh - 490px);
          overflow: auto;
        }
      }

    }
  }
}

.case-statistics-modal {
  .modal-content-wrapper {
    width: 600px;

    .modal-footer {
      .close-btn {
        margin-top: 14px;
      }
    }
  }
}

.t-side-bar-form {
  .drawer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 546px;

    .drawer-body {
      display: flex;
      height: 100%;
      flex: 1;
      width: 510px;

      .service-category-add-component {
        display: flex;
        //flex: 1;
        height: 100%;

        .service-category-add-form-container {
          display: flex;
          flex-direction: column;
          //flex: 1;


          .t-form {
            display: flex;
            flex-direction: column;
            width: 500px;
            //height: calc(100vh - 200px);

            .t-form-controls {
              //flex: 1;
              padding: 5px 0;
            }
          }
        }
      }
    }
  }
}

.t-form {
  .form-helper-icon {
    position: relative;
    top: 7px;
  }

  .t-form-actions {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .t-table, .table-no-data-wrapper {
    min-height: 400px !important;
  }
}


.link-provider-drawer-container {
  .link-provider-drawer {
    .link-provider-existing-list {
      margin: 20px 0 10px 0;
      height: calc(100vh - 280px);

      .table-container {
        .t-table {
          margin-bottom: 0px;
          height: calc(100vh - 380px);
        }
      }
    }
  }
}

.coupon-list {
  .t-table {
    margin-bottom: 0px;
    height: calc(100vh - 220px);
  }
}

.user-list {
  .t-table {
    margin-bottom: 0px;
    height: calc(100vh - 220px);
  }
}

.client-documents-list, .client-appointment-list-table-component {
  .t-table {
    margin-bottom: 0px;
    height: calc(100vh - 220px);
  }
}

.confirm-popup-component {
  border-radius: 10px;
  width: 520px;
  height: 330px;
  text-align: center;
  overflow: hidden;

  .confirm-popup-image {
    margin: 10px 0 20px;
    padding-top: 40px;
    display: flex;
    justify-content: center;

    .lottie-file-wrapper {
      width: 75px;
      height: 75px;
    }
  }

  .confirm-popup-meta {
    text-align: center;
    color: #07213C;
    padding-top: 10px;

    .confirm-popup-title {
      font-weight: $font-weight-medium;
      font-size: 2rem;
      line-height: 40px;
    }

    .confirm-popup-sub-title {
      font-size: $font-weight-normal;
      color: #83909D;
      margin: 10px 10px 30px 10px;
    }

    .confirm-popup-description {
      font-size: 14px;
      margin: 10px 30px;
      color: #83909D;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 20px;
    }

    .confirm-popup-continue-and-cancel-cta {
      margin: 30px 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}


.t-surgery-record-drawer {

  .drawer-container {
    //height: 100%;
    display: flex;
    flex-direction: column;

    .drawer-body {
      display: flex;
      flex-direction: column;
      flex: 1;
      //overflow: auto;

      .t-form {
        .attachment-heading {
          margin: 10px 0 16px 0;
          font-weight: 700;
          font-size: 1.1429rem;
        }

        .t-form-actions {
          margin-bottom: 0px;
        }

        .t-surgery-record-drawer-form-controls {
          height: calc(100vh - 180px);
          //overflow: auto;
          flex: 1;
          padding-top: 6px;

          .file-picker-wrapper {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}

.t-view-all-message {
  .drawer-container {
    .drawer-body {
      .message-timestamp-wrapper {
        width: 410px;

        .message-edit-delete-button-wrapper {
          display: flex;
          align-items: center;
        }

        .card-component {
          width: 410px;
          margin-bottom: 0;
          background: #DFF6F3;
          border:1px solid #E2E2E2;

          .card-body {
            color: #7F7F7F;
            font-size: 1.1429rem;
            padding: 16px 12px 40px;
          }
        }

        .created-at-time-stamp {
          display: flex;
          justify-content: end;
          color: #6D6D6D;
          font-weight: 500;
          font-size: 12px;
          margin-top: 10px;
          margin-bottom: 24px;
          &.message-timestamp{
            font-weight: 400 !important;
          }
        }
      }
    }
  }
}

.form-question-list {
  .form-question {
    border-bottom: 1px solid #ddd;
    min-height: 74px;

    .input-component {
      margin-bottom: 0 !important;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.MuiPopover-paper{
  border-radius: 8px !important;
}

.intervention-comments-modal, .intervention-body-side-selection-modal {
  .modal-content-wrapper {
    width: 600px !important;

    .clear-cta {
      display: flex;
      float: right;
      text-decoration: underline;
      cursor: pointer;
      color: #003E3B;
      font-weight: 500;
      padding-bottom: 10px;
    }
  }
}

.intervention-special-test-selection-modal {
  .modal-content-wrapper {
    width: 900px !important;

    .modal-footer {
      margin-top: 24px;
    }
  }

  .intervention-special-test-selection-modal-title {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 12px;
  }
}

.confirmation-modal {
  .modal-content-wrapper {
    width: 444px !important;

    .modal-footer {
      .confirm-cta {
        margin-left: 16px !important;
      }
    }
  }
}

.intervention-special-test-config-add-body-part-modal, .intervention-rom-config-add-body-part-modal {
  .modal-content-wrapper {
    width: 900px;

    .radio-component {
      .MuiFormControlLabel-label {
        font-weight: $font-weight-bold;
      }
    }
  }
}

.basic-tabs-wrapper {
  margin-top: 24px;

  .MuiTabs-scroller {
    border-bottom: 1px solid #E2E2E2;

    .Mui-selected {
      border-bottom: 2px solid #275778;
    }
  }
}

.font-weight-bold {
  font-weight: bold;
}


.add-progress-report-container {
  .t-form-controls {
    min-height: 300px;
    height: calc(100vh - 215px);
  }
}


.chip {
  font-weight: 500;

  &.no_show {
    background: #EB9A78;
    color: #FFFFFF;
    width: 100px;
  }

  &.scheduled {
    background: #558BB0;
    color: #FFFFFF;
    width: 100px;
  }

  &.upcoming {
    background: #8A54AF;
    color: #FFFFFF;
    width: 100px;
    text-transform: none;
  }

  &.engaged {
    background: #2CA091;
    color: #FFFFFF;
    width: 100px;
  }

  &.completed {
    background: #B7B7B7;
    color: #FFFFFF;
    width: 100px;
  }

  &.cancelled {
    background: #D26060;
    color: #FFFFFF;
    width: 100px;
  }
}

.text-primary {
  color: $primary-color;
}

.text-error {
  color: $error-color;
}

.system-lock-wrapper {

  .MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(5px) !important;
  }

  .modal-content-wrapper {
    width: 416px !important;
  }

  .t-form {
    @include display-center();
    flex-direction: column;

    .system-lock-back-navigation {
      position: absolute;
      top: 25px;
      left: 25px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 500;

      svg {
        height: 16px;
        width: 16px;
      }
    }

    .system-lock-icon {
      //background: #F2F6F6;
      height: 84px;
      width: 84px;
      border-radius: 50%;
      @include display-center();
      margin-top: 15px;
      text-transform: uppercase;

      svg {
        width: 32px;
        height: 40px;
        color: $primary-color;
      }
    }

    .system-lock-title {
      font-weight: $font-weight-bolder;
      font-size: 1.1429rem;
      line-height: 22px;
      color: #212B36;
      margin: 30px 0 10px;
      text-transform: uppercase;
    }

    .system-lock-sub-title {
      font-weight: $font-weight-bold;
      font-size: 1rem;
      text-align: center;
      line-height: 22px;
      color: #6D6D6D;
      margin-bottom: 30px;
    }

    .system-lock-password-field {
      height: 95px;
      width: 100%;
    }

    .t-form-actions {

    }
  }
}

.mark-as-paid-outstanding-balance-modal {
  .modal-content-wrapper .modal-header {
    .modal-title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 4px;
    }
  }

  .modal-content-wrapper {
    .card-body {
      padding: 14px 25px 0;
      margin-bottom: -8px;

      .data-label {
        width: 150px;
      }

      .client-details-label {
        position: relative;
        top: -4px;
        margin-left: 5px;
      }
    }

    .t-table {
      height: calc(100vh - 700px) !important;
      min-height: 300px !important;
      max-height: 600px !important;
    }

    .mark-as-paid-total-outstanding-balance {
      margin-top: 18px;
      margin-bottom: 26px;

      .data-label-value {
        justify-content: space-evenly;
        margin-bottom: 0 !important;
      }

      .data-label, .data-value {
        font-weight: $font-weight-bold;
        color: $body-color !important;
        margin-left: 110px !important;
      }
    }

  }
}

.payment-mode-modal {
  .modal-content-wrapper {
    width: 416px !important;

    &.back-button {
      padding: 0 !important;
      padding-left: 10px !important;
      .back-text{
        font-weight: 500;
        font-size: 16px;
        margin-left: 8px;
        margin-top: 4px;
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      .generate-receipt-header {
        .form-control-label-component {
          margin: 0;

          .form-control-label {
            text-transform: capitalize;
          }
        }
      }

      .action-cta {
        width: 310px;
        margin-top: 30px;

        &.pay-now {
          margin-top: 30px;
        }
      }

      .form-control-label-component {
        margin: 30px 0 15px;

        .form-control-label {
          text-transform: uppercase;
        }
      }

      .t-form-control {
        width: 300px;
      }
    }
  }
}

.billing-details-drop-down-menu {
  .MuiMenu-paper {
    margin-left: -5px;
    border-radius:8px;
  }
}

.incomplete-invoice-info-modal {
  .modal-content-wrapper {
    width: 416px !important;
    text-align: center;

    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      .incomplete-invoice-icon {
        margin-bottom: 36px;
      }

      .incomplete-invoice-info-title {
        font-weight: $font-weight-bolder;
      }

      .incomplete-invoice-info-description {
        margin: 7px 0 20px;
        color: #6D6D6D;
        font-weight: $font-weight-medium;
      }
    }
  }
}

.t-table {
  .ellipses-for-table-data {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.add-new-treatment-modal {
  .modal-content-wrapper {
    width: 444px;

    .add-new-treatment-modal-header {
      color: #212B36;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  }
}

.select-appointment-modal {
  .modal-content-wrapper {
    width: 444px;

    .drawer-header {
      .back-btn {
        align-items: center;
        display: flex;
        cursor: pointer;
        margin-right: 10px;
        font-size: 14px;
        font-weight: $font-weight-medium;
      }
      .back-text{
        margin-top: -10px !important;
      }
    }

    .select-appointment-modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 20px 20px 20px;

      .select-appointment-modal-header {
        color: #212B36;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}

.edit-medical-record-drawer {

  .drawer-container .drawer-body {
    .edit-medical-record-component, .add-attachment-drawer {
      .t-form {
        .t-surgery-record-drawer-form-controls {
          min-height: calc(100vh - 215px) !important;
        }
      }
    }
  }
}

.treatment-without-application-modal {
  .modal-content-wrapper {
    width: 416px !important;
    text-align: center;

    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      .treatment-without-application-icon {
        margin-bottom: 36px;
      }

      .treatment-without-application-info-title {
        font-weight: $font-weight-bolder;
      }

      .treatment-without-application-info-description {
        margin: 7px 0 20px;
        color: #6D6D6D;
      }
    }
  }
}

.page-normal-heading {
  font-weight: 700;
  font-size: 1.2857rem;
  color: $primary-color;
}

.add-heading {
  color: #275778;
  font-size: 18px;
  font-weight: 700;
  //text-transform: uppercase;
  margin-bottom: 24px;
}

.block-calender-confirmation-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  color: #6D6D6D;
}

.transfer-file-to {
  display: flex;
  justify-content: left;
  align-items: baseline;
  flex-direction: column;
  margin-bottom: 40px;
  margin-left: 35px;
  color: #6D6D6D;

  .client-case-name-title {
    font-weight: 600;
    text-align: left;
    margin-left: 18px;
  }
}

.delete-document {
  display: flex;
  justify-content: center;
  //align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  //margin-left: 45px;
  color: #6D6D6D;

  .delete-document-text {
    font-weight: 500;

  }
}

.discard-soap {
  display: flex;
  justify-content: center;
  //align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  //margin-left: 25px;
  color: #6D6D6D;
  align-items: center;
  margin-top: -10px;
}

.view-arom-prom-table {
  .t-body {
    .t-td {
      min-height: 40px !important;
    }
  }

  .t-thead {
    .t-th {
      min-height: 40px !important;
      height: 40px !important;
    }
  }

  .t-th, .t-td {

    &:first-child {
      padding-left: 16px !important;
    }
  }
}

.icd-codes-wrapper {
  .t-body {
    .t-td {
      min-height: 40px !important;
    }
  }

  .t-thead {
    .t-th {
      min-height: 40px !important;
      height: 40px !important;
    }
  }

  .t-th, .t-td {

    &:first-child {
      padding-left: 16px !important;
    }
  }
}

ul {
  padding-left: 13px;
  margin-top: 0;
  margin-bottom: 0;
}

.alias-name {
  //color: #E84142;
}

.css-hz1bth-MuiDialog-container:has(.MuiDialog-paperWidthXl) {
  display: flex !important;
  align-items: flex-start !important;
}