@import "mixins";

$primary-color: #00534F;
$secondary-color: #000000;
$accent-color: #FFE49A;
$warn-color: #E84142;
$white: #ffffff;
$black: #000000;

$default-color: #E8ECEF;
$error-color: $warn-color;
$success-color: #00534F;
$warning-color: #ffa335;
$info-color: #1a67ff;

$font-family: 'inter';

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$body-background-color: #FFFFFF;
$body-color: #212B36;
$text-light-1: #ABB6BE;
$text-light-2: #6D6D6D;

// side menu
$side-bar-holder-width: 220;
$side-bar-holder-bg-color: #00534F;
$side-menu-active-link-bg-color: #ffffff; // #BDE8CA;
$side-menu-hover-link-bg-color: #ffffff; //#BDE8CA;
$side-menu-active-link-color: #00534F;
$side-menu-active-link-font-weight: $font-weight-bold;
$side-menu-hover-link-color: #00534F;
$side-menu-link-color: #ffffff;
$side-menu-link-font-weight: $font-weight-normal;
$side-bar-toggle-icon-color: #00534F;

//header
$header-height: 54;
$header-bg-color: #FFFFFF;

//branding
$branding-holder-height: 54;
$branding-holder-bg-color: #135C59;
$branding-holder-border: 1px solid #ABB6BE;

// PAGE CONTENT
$page-content-bg-color: #f8f8f8;

// Radio Button
$radio-button-height: 20px;
$radio-button-width: 20px;
$radio-button-inner-circle-height: 12px;
$radio-button-inner-circle-width: 12px;
$radio-button-font-size: 16px;
$radio-button-font-weight: $font-weight-normal;
$radio-button-font-family: $font-family;
$radio-button-border: 2px solid #8f8f8f;
$radio-button-active-border-color: $primary-color;

// Status card Variables
$status-card-font-family: $font-family;
$status-card-color: #496370;
$status-card-font-weight: $font-weight-thin;
$status-card-default-bg-color: $default-color;
$status-card-error-bg-color: $error-color;
$status-card-warning-bg-color: $warning-color;
$status-card-success-bg-color: $success-color;
$status-card-info-bg-color: $info-color;

// Progressbar Variables
$progressbar-default-bg-color: #D6E8FF;
$progressbar-filled-bg-color: #005BCA;

//Service-category-card variables
$service-category-card-bg-color: #F0F5F4;
$service-category-card-border-color: #F3F3F3;
$service-category-card-view-details-bg-color: #D8E5E4;
$service-category-card-view-details-text-color: #003E3B;
$service-category-card-view-details-font-weight: $font-weight-medium;
$service-category-card-active-status-text-color: #003E3B;
$service-category-card-inactive-status-text-color: #6D6D6D;

//File picker
$file-picker-border: 1px dashed $primary-color;
