@import "mixins";

$primary-color: #DE1C4E;
$secondary-color: #000000;
$accent-color: #FFE49A;
$warn-color: #c00000;
$white: #ffffff;
$black: #000000;

$default-color: #E8ECEF;
$error-color: $warn-color;
$success-color: #59f666;
$warning-color: #ffa335;
$info-color: #1a67ff;

$font-family: 'Roboto';

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$body-background-color: #FFFFFF;
$body-color: #202020;

// side menu
$side-bar-holder-width: 220;
$side-bar-holder-bg-color: #00534F;
$side-menu-active-link-bg-color: #BDE8CA;
$side-menu-hover-link-bg-color: #BDE8CA;
$side-menu-active-link-color: #00534F;
$side-menu-hover-link-color: #00534F;
$side-menu-link-color: #ffffff;
$side-menu-link-font-weight: $font-weight-normal;

//header
$header-height: 60;
$header-bg-color: #E1EBEA;

//branding
$branding-holder-height: 60;
$branding-holder-bg-color: #135C59;
$branding-holder-border: 1px solid #ABB6BE;

// PAGE CONTENT
$page-content-bg-color: #f8f8f8;

// Radio Button
$radio-button-height: 20px;
$radio-button-width: 20px;
$radio-button-inner-circle-height: 12px;
$radio-button-inner-circle-width: 12px;
$radio-button-font-size: 16px;
$radio-button-font-weight: $font-weight-normal;
$radio-button-font-family: $font-family;
$radio-button-border: 2px solid #8f8f8f;
$radio-button-active-border-color: $primary-color;

// Status card Variables
$status-card-font-family: $font-family;
$status-card-color: #496370;
$status-card-font-weight: $font-weight-thin;
$status-card-default-bg-color: $default-color;
$status-card-error-bg-color: $error-color;
$status-card-warning-bg-color: $warning-color;
$status-card-success-bg-color: $success-color;
$status-card-info-bg-color: $info-color;

// Progressbar Variables
$progressbar-default-bg-color: #D6E8FF;
$progressbar-filled-bg-color: #005BCA;