@import "src/assets/styles/common";

.service-list-component {
  margin-top: 15px;

  .service-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .service-list-title {
      font-weight: $font-weight-bolder;
      font-size: 1.4286rem;
      letter-spacing: 0.5px;
      color: $text-light-2;
    }
  }

  .t-table-wrapper {
    .t-table {
      .table-no-data-wrapper{
        min-height: 300px !important;
      }
      .t-th:first-child,
      .t-td:first-child {
        padding-left: 30px;
      }
      .t-cell-viewDetails{
        padding-left: 30px !important;
      }

    }
  }
}
