.payment-list-component {
  .no-show {
    background-color: #EFEFEF;
    color: #717171;
  }

  .products {
    background-color: #E8F2FF;
    color: #1C5EDE;
  }
  .waived{
    background-color: #FFF7EA;
    color: #DE561C;
  }
  .cancellation{
    background-color: #FFE2E9;
    color: #DE1C4E
  }
}