.medical-intervention-rom-config-v2-screen {
  .body-part-special-test-config-card {
    .card-header {
      .card-title {
        text-transform: capitalize !important;
      }
    }

    .card-body {
      padding: 0 !important;
    }
  }

  .rom-config-table-container {
    .t-table-wrapper{
      .t-table {
        min-height: max-content !important;
      }
    }
    .radio-component {
      margin-right: 16px !important;

      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
}
.special-test-table-body-side-wrapper {

  .special-test-table-body-side {
    text-align: center;
  }
  .special-test-table-body-side-indicators{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
}
.special-test-table-body-side-checkboxes{
  display: flex;
  justify-content: center;
  align-items: center;

}
