.medical-intervention-rom-config-v2-screen {
  .body-part-special-test-config-card {
    .card-header {
      .card-title {
        text-transform: capitalize !important;
      }
    }

    .card-body {
      padding: 0 !important;
    }
  }

  .rom-config-table-container {
    .t-table {
      .t-thead {
        .t-th {
          height: 80px !important;
        }
      }
    }

    .t-table-wrapper {

      .t-table {
        .table-no-data-wrapper{
          min-height: 90px !important;
        }
        min-height: max-content !important;
      }
    }

    .radio-component {
      margin-right: 16px !important;

      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
}

.special-test-table-body-side-wrapper {

  .special-test-table-body-side {
    text-align: center;
  }

  .special-test-table-body-side-indicators {
    display: flex;
    column-gap: 50px;
    justify-content: center;
    margin-top: 16px;
    align-items: center;
    font-size: 15px;
  }
}

.special-test-table-body-side-checkboxes {
  display: flex;
  justify-content: center;
  align-items: center;

  .check-box-component {
    margin-left: 35px !important;
  }

}

.add-special-test-drawer {

  .add-special-test-drawer-title {
    margin-top: 11px;
    margin-bottom: 15px;
    color: #212B36;
    font-size: 20px;
    font-weight: 700;

    .selected-body-part {
      color: #212B36;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .add-special-test-drawer-body {
    height: calc(100vh - 270px);
    .t-table-wrapper {
      height: calc(100vh - 280px);
      .table-no-data-wrapper{
        min-height: 300px!important;
      }
    }
    margin-bottom: 30px;
  }

}
