.progress-report-view-details-screen {
  .medical-record-attachment-remove-access-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 13px 15px;
    background-color: #ECE3F2;
    border: 1px solid #8A54AF;
    border-radius: 6px;
    margin-bottom: 16px;

    .link-component {
      color: #1A222B;
      font-size: 14px;
      font-weight: 400;
    }

  }

  .card-component {
    margin-bottom: 23px !important;
  }

  .edit-progress-report-cta {
    margin-bottom: 4px;
    margin-left: 15px;
  }

  .show-more-less {
    color: #7F7F7F;
    cursor: pointer;
    float: right;
    padding-bottom: 20px;
    padding-right: 10px;

    .show-more-less-action {
      margin: 10px;
      cursor: pointer;

    }
  }

  .t-body {
    border: 1px solid #D9E2E2;
  }

  .progress-report-view-details-container {
    .progress-report-view-details-component__header {
      .progress-report-view-details-wrapper {
        .card-component {
          padding-bottom: 24px;
        }
      }

      .progress-stats-table {
        .t-table-wrapper {
          .t-table {
            min-height: 340px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;

          }
        }

        .card-component {
          border-bottom: none;
          padding-bottom: 24px;
        }
      }
    }
  }

  .last-updated-status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    padding-bottom: 10px;

    .last-updated-status-text {
      font-size: 14px;
      color: #6D6D6D;
    }

    .last-updated-status-bold {
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  .client-name-button-wrapper {
    display: flex;
    justify-content: space-between;

    .client-name-wrapper {
      font-size: 1.4286rem;
      font-weight: 700;
      margin-bottom: 12px;

      .MuiChip-root {
        width: 150px !important;
      }

      .client-name {
        padding-right: 10px;
      }
    }
  }

  .progress-report-view-details-header {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;

  }

}
