
.cards-pagination-component {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  //padding-bottom: 30px;
}

.MuiPagination-ul {
  .Mui-selected {
    border: 1px solid #00534F;
    background-color: #FFFFFF !important;
  }
}
