
  .modal {
    border-radius: 10px;
  }

  .modal-title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 9px;
  }

  .modal-content-body {
    width: 444px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    color: #6D6D6D;
    margin-bottom: 30px;
    background-color: #FFFFFF;
  }

  .modal-btn {
    padding-left: 65px;
  }
