.service-add-component {

  .consultation-card-item {
    .card {
      margin-bottom: 24px;
    }
  }
  .t-form{
    .t-form-actions{
      margin-bottom: 0px;
      .submit-cta{
        margin-left: 16px;
      }
    }
  }
}
